<ul th:fragment="activityDisplay(activities)" class="activities-table">
    <li th:each="activity : ${activities}" th:onclick="|window.location.href='@{activitypage...}'|">
        <span class="title"><a th:href="|window.location.href='@{profile(teamID=${activity.team.teamId})}'|" th:text="${activity.team != null} ? ${activity.team} : 'Personal'"></a></span>
        <span class="details" th:with="startDate=${activity.activityStart.format(DateTimeFormatter.ofPattern('dd MMM yyyy'))},
                                                endDate=${activity.activityEnd.format(DateTimeFormatter.ofPattern('dd MMM yyyy'))},
                                                startTime=${activity.activityStart.format(DateTimeFormatter.ofPattern('hh:mma'))},
                                                endTime=${activity.activityEnd.format(DateTimeFormatter.ofPattern('hh:mma'))}"
              th:text="${activity.activityType} + ' • ' +
                        ${startDate} + (${startDate} != ${endDate} ? ' - ' + ${endDate} : '') + ' • ' +
                        ${startTime} + (${startTime} != ${endTime} ? ' - ' + ${endTime} : '')">
                </span>
        <span class="description" th:text="${activity.getDescription}"></span>
    </li>
</ul>
