
<!-- /*
listItems: List<String> - The list of items shown in the dropdown
optionName: String - What the dropdown is called "e.g. 'Filter by city'"
dropdownName: String[opt.] - The parameter name sent to the controller on submit
*/ -->
<div th:fragment="filterDropdownFragment(listItems, optionName, dropdownName)"
      th:with="dropdown_id=|checkbox-${dropdownName}|, select_all=|select_all-${dropdownName}|, toggle_dropdown=|toggle-${dropdownName}|">

<div class="multipleSelection">
  <div class="selectBox" onclick="showCheckboxes(this)">
    <select>
      <option th:text="${optionName}"></option>
    </select>
    <div class="overSelect"></div>
  </div>
  <div th:id="${dropdown_id}" class="checkbox">
    <label th:for="${select_all}">
      <input type="checkbox" th:id="${select_all}" onclick=selectAllCheckboxes(this) />
      Select all
    </label>
    <th:block th:each="entry: ${listItems}">
      <label>
      <input type="checkbox" th:value="${entry}" th:name="${dropdownName}">
        <th:block th:text="${entry}"></th:block>
      </label>
    </th:block>
  </div>
</div>
  <script th:inline="javascript">
    var show = true;
    var checkBoxname = /*[[${dropdownName}]]*/ "";
    var listCities = /*[[${listItems}]]*/ [];
    var dropdown_id = /*[[${dropdown_id}]]*/ ""
    var select_all_id = /*[[${select_all}]]*/ ""
    var toggle_dropdown = /*[[${toggle_dropdown}]]*/ ""

    /** @param {HTMLElement} elem*/
    function showCheckboxes(elem) {
      console.log("Look at me i'm goggling", elem);
      var checkboxes = elem.parentElement.getElementsByClassName('checkbox')[0];
      console.log(checkboxes)

      if (show) {
        checkboxes.style.display = "block";
        show = false;
      } else {
        checkboxes.style.display = "none";
        show = true;
      }
    }

    function init() {
      // Build the checkbox
      // Pre-populate entries if they're in the query string.
      const currentURL = new URL(document.location.href);
      const preCheckedBoxes = new Set(currentURL.searchParams.getAll(checkBoxname));
      var checkboxDiv = document.getElementById(dropdown_id);
      var selectAllCheckbox = document.getElementById(select_all_id);
      for (const entryName of listCities) {
        var checkBox = document.createElement("input");
        var label = document.createElement("label");
        var span = document.createElement("span");
        checkBox.type = "checkbox";
        checkBox.value = entryName;
        checkBox.name = checkBoxname;
        checkBox.checked = preCheckedBoxes.has(entryName);
        checkBox.onclick = function() { updateSelectAllCheckbox(selectAllCheckbox); };
        span.appendChild(document.createTextNode(entryName));
        label.appendChild(checkBox)
        label.appendChild(span)
        checkboxDiv.appendChild(label);
      }

      // Finally, bind the dropdown event
      console.log("Adding dropdown for", toggle_dropdown);
      var elem = document.getElementById(toggle_dropdown);
      console.log(elem);
      elem.onclick = () => showCheckboxes(toggle_dropdown);
    }

    /* This function unchecks the `Select All` box if all checkboxes aren't checked, then
        re-checks it all of them are */
    function updateSelectAllCheckbox(selectAllCheckbox) {
      const checkboxes = Array.from(document.getElementsByName(checkBoxname));
      const allBoxesTicked = checkboxes.every(box => box.checked);
      if (selectAllCheckbox.checked && !allBoxesTicked) {
        selectAllCheckbox.checked = false;
      } else if (!selectAllCheckbox.checked && allBoxesTicked) {
        selectAllCheckbox.checked = true;
      }
    }

    function selectAllCheckboxes(selectAllCheckbox) {
      var checkboxes = document.getElementsByName(checkBoxname);
      if (selectAllCheckbox.checked) {
        for (var i=0; i < checkboxes.length; i++) {
          if(checkboxes[i].type == 'checkbox')
            checkboxes[i].checked = true;
        }} else {
        for (var i=0; i < checkboxes.length; i++) {
          if(checkboxes[i].type == 'checkbox')
            checkboxes[i].checked = false;
        }}
    }

    // init();

  </script>
</div>

