<!--
This fragment requires the following variables to be defined:

playerCount, e.g. 11
formation, e.g "1-4-4-2"

-->
<div th:fragment="formationDisplay" id="pitch">
  <div th:each="playerNumber : ${#numbers.sequence(1, playerCount)}" th:id="'player' + ${playerNumber}" class="player"></div>
  <script>
    const players = document.querySelectorAll(".player");
    const pitch = document.getElementById("pitch")
    const pitchWidth = pitch.offsetWidth;
    const pitchHeight = pitch.offsetHeight;

    const formation = "[[${formation}]]".split("-").map(num => parseInt(num));
    // Handles formations that exclude players such as the goalie in football
    // const sumFormation = formation.reduce((acc, curr) => acc + curr, 0);
    // if (sumFormation < [[${playerCount}]]) {
    //   formation.unshift([[${playerCount}]]-sumFormation)
    // }
    let currentMax = 0;
    players.forEach(player => {
      dragElement(player);
      // Builds default formation
      for (let i = 0; i < formation.length; i++) {
        if (formation[i] !== 0) {
          if (currentMax === 0) {
            currentMax = formation[i].valueOf();
          }
          player.style.bottom = ((i + 1) / (formation.length + 1) * pitchHeight) - player.offsetHeight / 2 + "px";
          player.style.left = ((formation[i]) / (currentMax + 1) * pitchWidth) - player.offsetWidth / 2 + "px";
          formation[i] -= 1
          if (formation[i] === 0) {
            currentMax = 0;
          }
          break
        }
      }
    });
    function dragElement(player) {
      let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
      player.onmousedown = dragMouseDown;

      function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
      }

      function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        const pitchRect = pitch.getBoundingClientRect();
        const pitchTop = pitchRect.top;
        const pitchLeft = pitchRect.left;
        const pitchRight = pitchRect.right;
        const pitchBottom = pitchRect.bottom;

        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        console.log(pos3, pitch.offsetWidth, pitch.getBoundingClientRect().right, player.offsetWidth)

        // calculate the new position within the pitch boundaries
        const newTop = player.offsetTop - pos2;
        const newLeft = player.offsetLeft - pos1;

        // restrict the player's movement within the pitch
        const minTop = 0;
        const maxTop = pitchHeight - player.offsetHeight;
        const minLeft = 0;
        const maxLeft = pitchWidth - player.offsetWidth;
        const halfWidth = player.offsetWidth / 2;
        const halfHeight = player.offsetHeight / 2;

        // calculate the constrained position
        const constrainedTop = pos4 > pitchBottom - halfHeight ? maxTop : pos4 < pitchTop + halfHeight ? minTop
                : Math.max(minTop, Math.min(newTop, maxTop));
        const constrainedLeft = pos3 > pitchRight - halfWidth ? maxLeft : pos3 < pitchLeft + halfWidth ? minLeft
                : Math.max(minLeft, Math.min(newLeft, maxLeft));

        // set the element's new position:
        player.style.top = constrainedTop + "px";
        player.style.left = constrainedLeft + "px";
      }

      function closeDragElement() {
        // stop moving when mouse button is released:
        document.onmouseup = null;
        document.onmousemove = null;
      }
    }
  </script>
</div>

