<!--
This fragment requires the following variables to be defined:

playerCount, e.g. 11
formation, e.g "1-4-4-2"
formationEditable, true if you want the formation to be edited i.e. being able to move players around, false otherwise

-->
<div th:fragment="formationDisplay(formationEditable)" id="pitch">
  <script>
    // document.addEventListener("DOMContentLoaded", function() {
    //   // Call the renderPlayers function here
    //   renderPlayers("1-4-4-2");
    // });

    const formationEditable = [[${formationEditable}]];

    const pitch = document.getElementById("pitch")
    // Generates the players and sets their position on the pitch
    function renderPlayers(formationString) {
      const formation = formationString.split("-").map(num => parseInt(num));
      const totalPlayers = formation.reduce((acc, curr) => acc + curr, 0);
      // Clears players
      while (pitch.firstChild) {
        pitch.removeChild(pitch.lastChild);
      }

      // Create the players and add them to pitch
      for (let i = 0; i < totalPlayers; i++) {
        let player = document.createElement('div')
        player.setAttribute("id", "player" + (i + 1))
        player.setAttribute("class", "player")
        pitch.appendChild(player)
      }

      // Display the formation
      const players = document.querySelectorAll(".player");
      const pitchRect = pitch.getBoundingClientRect();
      // Builds formation
      let j = 0;
      for (let i = 0; i < formation.length; i++) {
        let playersInRow = formation[i]
        while (formation[i] !== 0) {
          let player = players[j]

          if (formationEditable == true) {
            dragElement(player);
          }

          player.style.bottom = ((i + 1) / (formation.length + 1)) * pitch.offsetHeight - player.offsetHeight / 2 + "px";
          player.style.left = ((playersInRow - formation[i] + 1) / (playersInRow + 1)) * pitch.offsetWidth - player.offsetWidth / 2 + "px";
          formation[i] -= 1;
          j++;
        }
      }
    }

    function dragElement(player) {
      let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
      player.onmousedown = dragMouseDown;

      function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
      }

      function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        const pitchRect = pitch.getBoundingClientRect();
        const pitchTop = pitchRect.top;
        const pitchLeft = pitchRect.left;
        const pitchRight = pitchRect.right;
        const pitchBottom = pitchRect.bottom;

        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;

        // calculate the new position within the pitch boundaries
        const newTop = player.offsetTop - pos2;
        const newLeft = player.offsetLeft - pos1;

        // restrict the player's movement within the pitch
        const minTop = 0;
        const minLeft = 0;
        const maxTop = pitch.offsetHeight - player.offsetHeight;
        const maxLeft = pitch.offsetWidth - player.offsetWidth;
        const halfWidth = player.offsetWidth / 2;
        const halfHeight = player.offsetHeight / 2;

        // calculate the constrained position
        const constrainedTop = pos4 > pitchBottom - halfHeight ? maxTop : pos4 < pitchTop + halfHeight ? minTop
                : Math.max(minTop, newTop);
        const constrainedLeft = pos3 > pitchRight - halfWidth ? maxLeft : pos3 < pitchLeft + halfWidth ? minLeft
                : Math.max(minLeft, newLeft);
        // set the element's new position:
        player.style.top = constrainedTop + "px";
        player.style.left = constrainedLeft + "px";
      }

      function closeDragElement() {
        // stop moving when mouse button is released:
        document.onmouseup = null;
        document.onmousemove = null;
      }
    }
  </script>
</div>

