<!--
Formation strings should be of form e.g. '1-4-4-2' and positions should be strings of form e.g. '20px,30px;40px,60px;'
Required variables: formationEditable, true if you want the formation to be edited i.e. being able to move players around, false otherwise

-->
<div th:fragment="formationDisplay(formationEditable)">
  <input type="hidden" name="custom" class="custom" value="false">
  <input type="hidden" name="customPlayerPositions" class="custom-player-positions">
  <div id="pitch" class="pitch"></div>
  <script>
    const formationEditable = [[${formationEditable}]];

    const pitch = document.getElementById("pitch");
    const custom = document.querySelector(".custom");
    const customPlayerPositions = document.querySelector(".custom-player-positions");

    function generatedOrCustom(formation, custom, customPlayerPositions) {
      if (custom=== "true") {
        renderPlayersCustom(customPlayerPositions)
      } else {
        console.log("reached render players")
        renderPlayers(formation)
      }
    }

    // Generates the players and sets their position on the pitch
    function renderPlayers(formationString) {
      const formation = formationString.split("-").map(num => parseInt(num));
      console.log(formation)
      const totalPlayers = formation.reduce((acc, curr) => acc + curr, 0);
      // Clears players
      while (pitch.firstChild) {
        pitch.removeChild(pitch.lastChild);
      }

      // Create the players and add them to pitch
      generatePlayers(totalPlayers)

      // Display the formation
      const players = document.querySelectorAll(".player");

      // Builds formation
      let j = 0;
      for (let i = 0; i < formation.length; i++) {
        let playersInRow = formation[i]
        while (formation[i] !== 0) {
          let player = players[j]

          if (formationEditable === true) {
            dragElement(player);
          }

          console.log(formation);
          console.log(formation.length+1);
          console.log(pitch.offsetHeight);
          console.log( ((i + 1) / (formation.length + 1)) * pitch.offsetHeight - player.offsetHeight / 2 + "px")
          player.style.bottom = ((i + 1) / (formation.length + 1)) * pitch.offsetHeight - player.offsetHeight / 2 + "px";
          player.style.left = ((playersInRow - formation[i] + 1) / (playersInRow + 1)) * pitch.offsetWidth - player.offsetWidth / 2 + "px";
          formation[i] -= 1;
          j++;
        }
      }
      custom.value = 'false';
      customPlayerPositions.value = '';
    }

    // Builds formation based on custom positions string
    function renderPlayersCustom(positions) {
      while (pitch.firstChild) {
        pitch.removeChild(pitch.lastChild);
      }
      const positionsList = positions.split(';')
      let numPlayers = positionsList.length;
      generatePlayers(numPlayers);
      const players = document.querySelectorAll(".player");
      for (let i = 0; i < numPlayers; i++) {
        let coordinates = positionsList[i].split(",")
        let player = players[i]
        player.style.left = coordinates[0];
        player.style.bottom = coordinates[1];
      }
      custom.value = 'true';
      customPlayerPositions.value = positions;
    }

    function generatePlayers(numPlayers) {
      for (let i = 0; i < numPlayers; i++) {
        let player = document.createElement('div');
        player.setAttribute("id", "player" + (i + 1));
        pitch.appendChild(player);

        if (formationEditable === true) {
          dragElement(player);
          player.setAttribute("class", "player");
        } else {
          player.setAttribute("class", "player uneditable");
        }

        const name = document.createElement('h3');
        const image = document.createElement('img');
        const id = document.createElement('input');
        const close = document.createElement('img');

        image.setAttribute("class", "player-profile-img");
        close.setAttribute("class", "clear-position-button");
        close.setAttribute("src", "../image/icons/remove.svg");
        id.setAttribute("type", "hidden");

        player.appendChild(name);
        player.appendChild(image);
        player.appendChild(id);
        player.appendChild(close);
      }
    }


    function addPlayer(position, name, picture, id) {
      const nameObject = position.querySelector('h3');
      const imageObject = position.querySelector('.player-profile-img');
      const idObject = position.querySelector('input');
      const close = position.querySelector('.clear-position-button');
      nameObject.textContent = name;

      // Left margin of name set dynamically to ensure it is centered as object has absolute position
      nameObject.style.display = 'inline-block'; // Make sure it's visible
      nameObject.style.width = 'auto'; // Reset width to auto
      const marginLeft = (position.clientWidth - nameObject.offsetWidth) / 2;
      nameObject.style.marginLeft = marginLeft + "px";
      nameObject.style.marginLeft = (position.width - nameObject.width) / 2 + "px";

      imageObject.setAttribute('src', picture);
      idObject.value = id;
      close.classList.add('active')
    }

    function clearPlayer(position) {
      const nameObject = position.querySelector('h3');
      const imageObject = position.querySelector('.player-profile-img');
      const idObject = position.querySelector('input');
      const close = position.querySelector('.clear-position-button');
      nameObject.textContent = "";
      imageObject.removeAttribute('src');
      idObject.value = "";
      close.classList.remove('active')
    }

    function dragElement(player) {
      let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
      player.onmousedown = dragMouseDown;

      function dragMouseDown(e) {
        custom.value = "true";
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
      }

      function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        const pitchRect = pitch.getBoundingClientRect();
        const pitchTop = pitchRect.top;
        const pitchLeft = pitchRect.left;
        const pitchRight = pitchRect.right;
        const pitchBottom = pitchRect.bottom;

        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;

        // calculate the new position within the pitch boundaries
        const newTop = player.offsetTop - pos2;
        const newLeft = player.offsetLeft - pos1;

        // restrict the player's movement within the pitch
        const minTop = 0;
        const minLeft = 0;
        const maxTop = pitch.offsetHeight - player.offsetHeight;
        const maxLeft = pitch.offsetWidth - player.offsetWidth;
        const halfWidth = player.offsetWidth / 2;
        const halfHeight = player.offsetHeight / 2;

        // calculate the constrained position
        const constrainedTop = pos4 > pitchBottom - halfHeight ? maxTop : pos4 < pitchTop + halfHeight ? minTop
                : Math.max(minTop, newTop);
        const constrainedLeft = pos3 > pitchRight - halfWidth ? maxLeft : pos3 < pitchLeft + halfWidth ? minLeft
                : Math.max(minLeft, newLeft);
        // set the element's new position:
        player.style.top = constrainedTop + "px";
        player.style.bottom = pitch.offsetHeight - constrainedTop - player.offsetHeight + "px";
        player.style.left = constrainedLeft + "px";
      }

      function closeDragElement() {
        // stop moving when mouse button is released:
        document.onmouseup = null;
        document.onmousemove = null;
        customPlayerPositions.value = ""
        const players = document.querySelectorAll(".player");
        players.forEach(player => {
          let left = player.style.left
          let bottom = player.style.bottom
          customPlayerPositions.value += left + "," + bottom;
          if (player.id !== 'player' + players.length) {
            customPlayerPositions.value += ";"
          }
        })
      }
    }
  </script>
</div>
