<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!-- /* Shared Header Files go here.
    To include, specify `<th:block th:replace="~{fragments/general :: headerFiles}"></th:block>` in your header. */ -->
<th:block th:fragment="headerFiles">
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="/../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</th:block>

<body>
    
    <header th:fragment="sharedHeader">
        <h1><a th:href="@{/}">Team Analytics Buddy</a></h1>
        <div class="navbar">
<!--            <a th:href="@{/user-info(name=1)}">View some user</a>-->
<!--            <a th:href="@{/view-all-users}">See all profiles</a>-->
<!--            <a th:href="@{/register}">Register</a>-->
<!--            <a th:href="@{/login}">Login</a>-->
            <form th:action="@{view-all-users}" method="get" class="logout-form">
                <button class="link-button">See All Profiles</button>
            </form>
            <form th:action="@{register}" method="get" class="logout-form">
                <button class="link-button">Register</button>
            </form>
            <form th:action="@{login}" method="get" class="logout-form">
                <button class="link-button">Login</button>
            </form>
            <form th:action="@{logout}" method="post" class="logout-form">
                <button class="link-button">Logout</button>
            </form>
        </div>
    </header>


    <footer th:fragment="footer">
        <a th:href="@{main}">Fragments Index</a> |
        <a th:href="@{params}">Fragment params</a> |
        <a th:href="@{../demo}">Back to home</a>
    </footer>
</body>

</html>