

<header th:fragment="navbar">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <nav>
        <link rel="stylesheet" href="nav.css">
        <label for="drop" class="toggle"><img th:src = "@{/image/icons/hamburger.svg}"></label>
        <input type="checkbox" id="drop"/>
        <ul class="menu">
            <li><a th:href="@{home}">Home</a></li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{login}" th:classappend="${httpServletRequest.requestURI == '/login' ? 'active' : ''}">Login</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{register}"
                   th:classappend="${httpServletRequest.requestURI == '/register' ? 'active' : ''}">Register</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{view-teams(page=1)}"
                   th:classappend="${httpServletRequest.requestURI == '/view-teams' ? 'active' : ''}">View All Teams</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{view-users(page=1)}"
                   th:classappend="${httpServletRequest.requestURI == '/view-users' ? 'active' : ''}">View All Users</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <label for="drop-1" class="toggle">Create +</label>
                <a href="">Create</a>
                <input type="checkbox" id="drop-1"/>
                <ul>
                    <li><a th:href="@{createActivity}">Activity</a></li>
                    <li><a th:href="@{createClub}">Club</a></li>
                    <li><a th:href="@{createTeam}">Team</a></li>
                </ul>

            </li>
            <div sec:authorize="isAuthenticated()" class="view-profile">
                View Profile:
                <select class="form-control" id="profiledropdown" name="teamSelector"
                        onchange="if(this.value != '-1') window.location.href = 'profile?teamID=' + this.value;">
                    <option value="-1" selected>Select a Team</option>
                    <option th:each="team : ${navTeams}"
                            th:value="${team.teamId}"
                            th:text="${team}"
                            th:selected="${team.teamId.equals(teamID)}"></option>
                </select>
            </div>
        </ul>
    </nav>
    <script>
        let navbarUserButton = document.querySelector(".navbar-user-button");
        if (navbarUserButton !== null) {
            let triangle = navbarUserButton.querySelector(".triangle");
            let navbarUserDropdown = navbarUserButton.querySelector(".navbar-user-dropdown");
            navbarUserButton.addEventListener("click", function (event) {
                event.stopPropagation();
                navbarUserDropdown.classList.toggle("show");
                triangle.classList.toggle("up");
            });

            document.addEventListener("click", function (event) {
                if (!navbarUserButton.contains(event.target)) {
                    navbarUserDropdown.classList.remove("show");
                    triangle.classList.remove("up");
                }
            });
        }
    </script>
</header>
