<!--
    This is used to render a page "swapper" to navigate through pages.
    Mainly useful for navigating through table data.
-->
<div th:fragment="pagination" class="pagination">
    <div class="paginationContainer">
        <div class="totalPages">
            Total Pages: [[${totalPages}]]
        </div>

        <div>
            <form action="@{/{endpoint}?page={pageNumber}(endpoint=${pageName},pageNumber=${1})}">
                <button class = "paginationButton" th:disabled="${page == 1}">
                    <span>First</span>
                </button>
            </form>
        </div>
        <div>
            <form action="@{/{endpoint}?page={pageNumber}(endpoint=${pageName},pageNumber=${page - 1})}">
                <button class = "paginationButton" th:disabled="${page == 1}" >
                    <span>Prev</span>
                </button>
            </form>
        </div>

        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
            <div th:if="${i >= page - 1 and i <= page + 1
                            or page == 1 and i >= page - 1 and i <= page + 2
                            or page == totalPages and i >= page - 2 and i <= page + 1}">
                <form th:unless="${page == i}" action="@{/{endpoint}?page={i}(endpoint=${pageName},pageNumber=${i})}">
                    <button class="paginationActive" th:text="${i}"></button>
                </form>
                <form th:if="${page == i}" action="@{/{endpoint}?page={i}(endpoint=${pageName},pageNumber=${i})}">
                    <button class="paginationButton" th:text="${i}"></button>
                </form>
            </div>
        </th:block>

        <div>
            <form action="@{/{endpoint}?page={pageNumber}(endpoint=${pageName},pageNumber=${page + 1})}">
                <button class="paginationButton" th:disabled="${page == totalPages}">
                    Next >
                </button>
            </form>
        </div>

        <div>
            <form action="@{/{endpoint}?page={pageNumber}(endpoint=${pageName},pageNumber=${totalPages})}">
                <button class="paginationButton" th:disabled="${page == totalPages}" >
                    Last >
                </button>
            </form>
        </div>
    </div>
</div>