<!--
    This is used to render a page "swapper" to navigate through pages.
    Mainly useful for navigating through table data.
-->
<div th:fragment="pagination" class="pagination">
    <div class="paginationContainer">
        <div class="totalPages">
            Total Pages: [[${totalPages}]]
        </div>

        <div>
            <a th:unless="${page == 1}" th:href="@{'/' + ${pageName} + '?page=1'}">
                <button class = "paginationButton" th:disabled="${page == 1}">
                    <span>First</span>
                </button>
            </a>
        </div>
        <div>
            <a th:unless="${page == 1}" th:href="@{'/' + ${pageName} + '?page=' + ${page - 1}}">
                <button class = "paginationButton" th:disabled="${page == 1}" >
                    <span>Prev</span>
                </button>
            </a>
        </div>

        <th:block th:each="i : ${#numbers.sequence(1, 1, totalPages)}">
            <div th:if="${i >= page - 1 and i <= page + 1}">
                <a th:unless="${(i - 1) < 0}" th:href="@{'/' + ${pageName} + '?page=' + ${i - 1}}" th:action="@{'/' + ${pageName} + '?page=' + ${i}}">
                    <button class="paginationActive" th:text="${i - 1}"></button>
                </a>
                <a th:unless="${totalPages == 0}" th:href="@{'/' + ${pageName} + '?page=' + ${i}}" th:action="@{'/' + ${pageName} + '?page=' + ${i}}">
                    <button class="paginationActive" th:text="${i}"></button>
                </a>
                <a th:unless="${i+1 > totalPages}" th:href="@{'/' + ${pageName} + '?page=' + ${i + 1}}" th:action="@{'/' + ${pageName} + '?page=' + ${i}}">
                    <button class="paginationActive" th:text="${i+1}"></button>
                </a>
            </div>
        </th:block>

        <div>
            <a th:unless="${page == totalPages}" th:href="@{'/' + ${pageName} + '?page=' + ${page + 1}}">
                <button class="paginationButton">
                    Next >
                </button>
            </a>
        </div>

        <div>
            <a th:href="@{'/' + ${pageName} + '?page=' + ${totalPages}}">
                <button class="paginationButton" th:disabled="${page == totalPages}" >
                    Last >
                </button>
            </a>
        </div>
    </div>
</div>