

<div th:fragment="userTable(listOfUsers)">
    <table id="userTable">
        <tr th:if="${listOfUsers.empty}">
            <td colspan="2"> No users </td>
        </tr>

        <tr th:unless="${listOfUsers.empty}">
            <th>Name</th>
            <th>Email</th>
            <th>Link</th>
        </tr>

        <tr th:each="user : ${listOfUsers}">
            <td> [[|${user.firstName} ${user.lastName}|]] </td>
            <td th:text="${user.email}"> Email </td>
            <td>
                <a th:href="@{user-info(name=${user.userId})}"> Profile </a>
            </td>
        </tr>
    </table>
</div>
