.activity-form .wrapper {
    font-size: 15px;
}

.create-activity {
    text-align: center;
}

.activity-form {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.activity-form form {
    width: 65%;
}

.activity-form .wrapper {
    width: 500px;
    height: 440px;
}