.team-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.team-form .wrapper {
    width: 630px;
    padding: 30px 0 10px;
}

.team-form .wrapper form {
    width: 70%;
}

@media (max-width: 700px) {
    .team-form .wrapper {
        width: 90vw;
    }
    .create-team {
        width: 90vw;
    }
}

.team-form .input-box {
    margin: 35px 0 35px !important;
    width: 46% !important;
}