@media (max-width: 700px) {
    .club-form .wrapper {
        width: 90vw !important;
    }
    .file-upload {
        width: 60% !important;
    }
}

.club-form {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction:column
}

.club-form .wrapper form {
    width: 65%;
}

.club-form .wrapper {
    width: 630px;
    height: 850px;
    font-size: 15px;

}

.create-club-header {
    padding-bottom: 15px;
}

select[multiple] {
    padding-right: 0;
    width: 100%;
    margin-top: 10%;
}

.selectTeamsLabel {
    font-family: "Noto Sans", sans-serif;
    position: absolute;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
    color: #888888;
    border-bottom: none;
    margin-top: 4%

}

.selectTeamsOption {
    padding: 0.5em;
}

#club-logo{
    width:100%;
    height:100%;
    border-radius:20px;
}

.preview-logo{
    max-width:100%;
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-top:30px;
}

.logo-container{
    width:70%;
    height:90%;
    margin-bottom:10px;
}
.file-label-border{
    height:25px;
}
#file{
    display:none;
}

.file-upload{
    display:block;
    width:40%
}

.file-label-border label{
    padding-bottom:3px;
}



