@media (max-width: 700px) {
    .club-form .wrapper {
        width: 90vw;
    }
}

.club-form {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction:column
}

.club-form .wrapper form {
    width: 65%;
}

.club-form .wrapper {
    width: 630px;
    height: 600px;
    font-size: 15px;

}

.create-club-header {
    padding-bottom: 15px;
}