.team-form {
    display: grid;
    grid-auto-rows: 570px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 215px;
    height: 90vh;
}

.team-form .wrapper {
    width: 630px;
    height: 600px;
}

.team-form .wrapper form {
    width: 70%;
}

@media (max-width: 700px) {
    .team-form .wrapper {
        width: 90vw;
    }
}

.team-form .input-box {
    margin: 35px 0 35px !important;
    width: 46% !important;
}