.competition-form .wrapper {
    width: 590px;
    bottom: 20px;
}

@media (max-width: 655px) {
    .competition-form .wrapper {
        width: 90vw;
    }

    .header {
        width: 90vw;
    }
}

.competition-form {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction:column
}

.header {
    padding-bottom: 30px;
    font-family: "Noto Sans",sans-serif;
    text-align: center;
    width: 590px;
    font-size: 40px;
    font-weight: 600;
    color: #0D1B2A;
    background-clip: text;
    -webkit-background-clip: text;
}

.wrapper form {
    width: 65%;
}

.create-competition-header {
    display: flex;
    align-content: center;
    width: 120%;
    align-items: center;
    margin-top: 35px;
    margin-left: -10%;
}

.create-competition-header h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    color: #0b2239;
}

.create-competition-header img {
    height: 30px;
    margin: 0 5px;
}

.create-competition-header::before {
    content: "";
    border-top: 3px solid #0b2239;
    width: 6%;
    align-content: center;
    display: flex;
    text-align: center;
    margin-right: 5px;
}

.create-competition-header::after {
    content: "";
    border-top: 3px solid #0b2239;
    width: 67%;
    align-content: center;
    display: flex;
    text-align: center;
}

.multiply:before {
    content: "\00D7";
}

.submit-button {
    margin: 30px 0 20px !important;
}

.cancel-link {
    margin: 0 0 20px !important;
}

.edit-user-header {
    display: flex;
    align-content: center;
    width: 120%;
    align-items: center;
    margin-top: 35px;
    margin-left: -10%;
}

.edit-user-header h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    color: #0b2239;
}

.edit-user-header img {
    height: 30px;
    margin: 0 5px;
}

.edit-user-header::before {
    content: "";
    border-top: 3px solid #0b2239;
    width: 6%;
    align-content: center;
    display: flex;
    text-align: center;
    margin-right: 5px;
}

.edit-user-header::after {
    content: "";
    border-top: 3px solid #0b2239;
    width: 67%;
    align-content: center;
    display: flex;
    text-align: center;
}

.multiply:before {
    content: "\00D7";
}
