#pitch {
    height: 400px;
    width: 320px;
    position: relative;
    background-color: green;
}

.player {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    cursor: move;
    border-radius: 50px;
}
