#pitch {
    height: 400px;
    width: 320px;
    position: relative;
    background-image: url('../image/icons/pitch.svg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    border-radius: 2px;
}

.player {
    width: 40px;
    height: 30px;
    background-image: url('../image/icons/player.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    cursor: move;
}

