* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #0b2239;
    z-index: 1000;
    position: fixed;
    top: 0;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-left nav ul {
    display: flex;
}

header .header-right li a, nav ul li a,.view-profile, .create-header li a{
    color: #fefefe;
    font-size: 1.3em;
    font-weight:500;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 5px;
    font-family: "Noto Sans", sans-serif;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}


.view-profile #dropDownList {
    margin-left: 5px;
    padding: 0.1em 0.6em;
}

nav ul li a:hover,
nav ul li a.active,
.navbar-user-button:hover,
.navbar-create-button:hover,
.navbar-view-all-button:hover,
.buttons.active a, .buttons a:hover {
    background: #415a77;
    color: #fff;
    opacity: 1;
}

.current  {
    background: #415a77;
}

header .header-right {
    display: flex;
    align-items: center;
}

header .header-left .hamburger {
    cursor: pointer;
    display: none;
    border-radius: 5px;
    border: white solid 3px;
    padding: 5px 10px;
}

.header-left .hamburger:hover, .hamburger.active {
    background-color: #415A77;
}

header .header-left .hamburger div {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background: #fff;
    border-radius: 80px;
}

@media only screen and (max-width: 1350px) {
    header .header-left .hamburger {
        display: block;
    }

    header .header-left nav {
        margin: 0;
        position: absolute;
        top: 80px;
        left: -220vw;
        background-color: #0b2239;
        transition: left 0.2s;
        text-align: center;
        z-index: -1;
        overflow: hidden;
        min-height: 100vh;
        height: fit-content;
        max-width: 325px;
        padding: 10px clamp(16px, 3vw, 16px);
    }

    header .header-left nav.active {
        left: 0;
        z-index: 1000;
        min-width: 260px;
        width: 34vw;
    }

    header .header-left nav ul {
        display: block;
    }

    .home-button, .nav-bar .buttons {
        margin: 5px !important;
    }

    .home-button {
        margin-bottom: 15px !important;
    }

    .home-button {
        justify-content: center !important;
    }

    .nav-bar .buttons {
        justify-content: left;
        margin-left: unset;
    }

    nav ul li a {
        justify-content: space-between;
    }

    .header-left .navbar-dropdown {
        position: unset;
        margin: 5px 7px;
        padding: 1px;
        box-shadow: unset;
    }

    .header-left .navbar-dropdown a {
        width: auto !important;
        height: auto;
    }

}

.navbar-profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 3px 10px 3px 3px;
}

.navbar-view-all-button,
.navbar-user-button,
.navbar-create-button {
    position: relative;
    border-radius: 20px;
    transition: 0.2s;
}

.nav-bar .buttons {
    margin-left: 20px;
}

.navbar-view-all-button a,
.navbar-user-button a,
.navbar-create-button a{
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.navbar-user-dropdown, .navbar-create-dropdown, .navbar-view-all-dropdown, .navbar-dropdown {
    display: none;
    position: absolute;
    top: 85%;
    background-color: #415A77;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    transition: 0.2s;
    white-space: nowrap;
    margin-left: 5px;
}

.buttons.active .navbar-dropdown {
    display: block;
}

.buttons.active .navbar-dropdown a  {
    display: block !important;
    text-decoration: none;
    text-align: left;
    padding: 8px !important;
    border-radius: 4px !important;
    width: 200px;
    min-width: fit-content;
}

.buttons.active .navbar-dropdown a:hover {
    background-color: #0b2239;
}

.view-profile, .create-buttons, .view-all-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons .navbar-dropdown-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: white transparent transparent transparent;
}

.buttons.active .navbar-dropdown-triangle {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent white transparent;
}

.navbar-user-button a:hover, .navbar-create-button a:hover, .navbar-view-all-button a:hover {
    cursor: pointer;
}

.home-button {
    margin: 0 10px 0 0;
    padding: 0;
    background: none !important;
}

.home-button img {
    height: 50px;
}

.buttons a {
    cursor: pointer;
}

.header-right .navbar-dropdown-triangle {
    margin-right: 10px;
}

.profile-button-text {
    margin: 0 !important;
    padding: 5px !important;
}

.navbar-dropdown.user {
    top: 98%;
    margin-left: 11px;
}


