
.toggle,
[id^=drop] {
  display: none;
}

nav {
  margin:0;
  padding: 0;
  background-color: #0b2239;
  line-height: 32px;
  word-wrap:break-word !important;
  top: 0;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size:20px;
  line-height: 60px;
}

.header-right{
  float:right;
}

nav:after {
  content:"";
  display:table;
  clear:both;
}

nav ul {
  float: left;
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0;
  display:inline-block;
  float: left;
  background-color: #0b2239;
}

nav a {
  display:block;
  padding:14px 20px;
  color:#FFF;
  text-decoration:none;
  font-size: 1.3em;
  font-weight: 500;
}


nav ul li ul li:hover { background: #415a77; }

nav a:hover {
  background-color: #415a77;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index:1000
}

nav ul li:hover > ul {
  display:inherit;
}

nav ul ul li {
  width:170px;
  float:none;
  display:list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top:-60px;
  left:170px;
}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


@media all and (max-width : 1000px) {
  .view-profile{
    background:#0b2239;
    margin:0 !important;
    border-radius:0 !important;
  }
  nav {
    margin: 0;
  }

  .toggle + a,
  .menu {
    display: none;
    position:absolute;
    z-index:1000;
  }

  .menu{
    width:100%;
    text-align:center;
  }
  .toggle1{
    width:80px;
  }
  .toggle{
    cursor:pointer;
  }

  .toggle,.toggle1 {
    display: block;
    background-color: #0b2239;
    padding:14px 20px;
    color:#FFF;
    font-size: 1.3em;
    text-decoration:none;
    border:none;
  }

  .toggle:hover {
    background-color: #415a77;
  }

  [id^=drop]:checked + ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #415a77;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a{
    padding:14px 20px;
    color:#FFF;
    font-size: 1.3em;
  }


  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #415a77;
  }

  nav ul ul {
    float: none;
    position:static;
    color: #ffffff;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;

  }

}

@media all and (max-width : 330px) {

  nav ul li {
    display:block;
    width: 94%;
  }

}
.view-profile{
  justify-content: center;
  display: flex;
  color: #fefefe;
  font-size: 1.3em;
  font-weight:500;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 5px;
  font-family: "Noto Sans", sans-serif;
}

.view-profile #profiledropdown {
  margin-left: 5px;
  padding: 0.1em 0.6em;
}


.header-right li a{
  display: block;
  color: #fefefe;
  font-size: 1.3em;
  font-weight:500;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 5px;
  font-family: "Noto Sans", sans-serif;
}

header .header-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-user-button {
  position: relative;
  border-radius: 20px;
  transition: 0.2s;
}


.navbar-user-button a{
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.navbar-user-button a:hover{
  cursor: pointer;
}

.navbar-user-button:hover{
  background: #415a77;
  color: #fff;
  opacity: 1;
}

.navbar-user-dropdown{
  display: none;
  position: absolute;
  top: 104%;
  right: 4px;
  background-color: #415A77;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000;
  transition: 0.2s;
  width: 96%
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: white transparent transparent transparent;
}

.triangle.up {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent white transparent;
}

.toggle1 img{
  height:28px;
  cursor: pointer;
}

.icons-size{
  color: #333;
  font-size: 14px;
}
.action{
  position: fixed;
  top: 7px;
  right: 20px;
}
.action .profile{
  line-height: 0 !important;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
  background:white;
}
.action .profile img{
  width: 100%;
  top:0;
  position: absolute;
  object-fit: cover;
  left: 0;
  height: 100%;
}
.action .profile-menu{
  line-height: 0 !important;
  background-color:#FFF;
  border-radius: 15px;
  padding: 10px 20px;
  position: absolute;
  right: -10px;
  transition: 0.5s;
  top: 120px;
  visibility: hidden;
  opacity: 0;
}
.action .profile-menu.active{
  opacity: 1;
  top: 80px;
  visibility: visible;
}
.action .profile-menu::before{
  background-color:#fff;
  content: '';
  height: 20px;
  position: absolute;
  right: 30px;
  transform:rotate(45deg);
  top:-5px;
  width: 20px;
}
.action .profile-menu h3{
  color: #555;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
  padding: 20px 0;
  text-align: left;
  width: 100%;
}
.action .profile-menu h3 div{
  color: #818181;
  font-size: 14px;
  font-weight: 400;
}
.action .profile-menu ul li{
  align-items: center;
  border-top:1px solid rgba(0,0,0,0.05);
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 10px 0;
  background:white;
}
.action .profile-menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition:0.5s
}
.action .profile-menu ul li a{
  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  white-space: nowrap;
}
.action .profile-menu ul li:hover img{
  opacity: 1;
}
.action .profile-menu ul li:hover a{
  color: #0b2239;
  background:white;
}
