img.password-toggle {
    max-height: 20px;
    max-width: 20px;
    position: absolute;
    right: 5px;
    margin-top: -24px;
    cursor: pointer;
}

.password-information-text img{
    max-width:15px;
    max-height:15px;
    vertical-align:middle;
    margin-bottom:5px;
}

#password {
    width: 92% !important;
}

.password-information-text {
    padding-left: 10px;
    color:red;
    padding-left: 10px;
}

.password-items{
    color:black;
}

/*.password-information-text li {*/
/*    list-style-type: disc;*/
/*}*/

.password-information-text ul li{
    /*list-style-type: circle;*/
    margin-left: 20px;
}

.password-info {
    width: 100%;
    font-style: italic;
    font-size: small;
    margin-top: -20px;
    font-family: "Noto Sans", sans-serif;
}

.password-strength-meter {
    width: 100%;
    height: 8px;
    border: 1px solid #ccc;
    /*border-radius: 10px;*/
    margin: 23px 0 10px 0;
    position: relative;
    overflow: hidden;
    /*background-color: #f2f2f2;*/

}

.password-strength-meter .bar {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.3s ease;
}

.password-strength-meter .bar.weak {
    background-color: #EA3B52;
}

.password-strength-meter .bar.medium {
    background-color: yellow;
}

.password-strength-meter .bar.strong {
    background-color: #5DBB63;
}

.password-strength-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/*.password-strength-text.weak {*/
/*    color: #c03d3e;*/
/*}*/

/*.password-strength-text.medium {*/
/*    color: #ffd700;*/
/*}*/

/*.password-strength-text.strong {*/
/*    color: #008000;*/
/*}*/

