.profile-form {
    flex-direction: column;
    min-height: 90vh;
}

.wrapper-profile {
    position: absolute;
    width: 850px;
    height: 430px;
    display: grid;
}

.wrapper-profile .user-info {
    position: absolute;
    top: 0;
    width: 400px;
    height: 440px;
    right: 0;
}

@media (max-width: 944px) {
    .wrapper-profile {
        width: 90vw;
        display: block;
    }
}

@media (max-width: 800px) {
    .wrapper-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: unset;
    }

    .wrapper-profile .profile-pic {
        width: 100% !important;
        position: static !important;
    }

    .wrapper-profile .team-info {
        width: 90% !important;
        position: static !important;
        padding-top: 0 !important;
    }

    .wrapper-profile .profile-buttons {
        position: static !important;
        width: 90% !important;
        margin: 20px 0 !important;
    }
}

.wrapper-profile .team-info {
    position: absolute;
    top: 0;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3%;
    left: 35%;
    transition: 0.5s;
}


.team-info h3, .user-info h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #1B263B;
}

.team-info {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #1b263b;
}

.team-info form {
    width: 100%;
}

.team-info h2 {
    font-size: 35px;
}

.team-info h3 {
    font-size: 22px;
}

.team-display .user-display {
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
    color: #1b263b;
    margin-bottom: 100px;
    width: 100%;
}


.join-token-box {
    width: 300px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.join-token-box button {
    display: inline-block;
    margin-right: 5%;
    background-color: #aaaaaa;
    /*
    background-image: url('../image/icons/reload.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    */
    width: 20%;
    height: 90%;
}

.join-token-box .token-value {
    width: 75%;
    margin: 0;
    display: inline-block;
}



.user-info h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #1B263B;
}

.wrapper-profile .profile-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 289px;
    height: 350px;
}

.profile-buttons {
    float: right;
    position: absolute;
    right: 5%;
    bottom: 30px;
    display: flex;
    left: 5%;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}


.profile-buttons button {
    width: 100%;
    max-width: 100px;
    padding: 5px;
    min-width: 150px;
    height: 40px;
}

.profile-buttons .back-button {
    min-width: 50px !important;
}

.edit-button {
    text-align: right;
}


.sport-box {
    height: 60px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 5px 0;
    border: 2px dashed #778DA9;
    border-radius: 11px;
    overflow-y: scroll;
    max-height: 100px;
    gap: 3px;
    align-content: flex-start;
}

.sport-box li {
    margin: 0;
    list-style: none;
    border-radius: 20px;
    background: #778DA9;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #1B263B;
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
    color: #FFFF;
    text-align: center;
}

.sport-box li i {
    color: #FFF;
    margin-right: 8px;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #778DA9;
}

.content input {
    width: 293px;
    height: 25px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border: 2px solid #778DA9;
    border-top: none;
}

.sport-box::-webkit-scrollbar {
    width: 8px;
}

.sport-box::-webkit-scrollbar-track {
    background-color: #E0E1DD;
}

.sport-box::-webkit-scrollbar-thumb {
    background-color: #415A77;
    border-radius: 10px
}

.sport-box::-webkit-scrollbar-thumb:hover {
    background-color: #0D1B2A;
}

.details button {
    background: none;
    border: none;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.team-display {
    width: 100%;
}


@media (max-width: 944px) {
    .wrapper-profile {
        width: 90vw;
        display: block;
    }
}

@media (max-width: 800px) {
    .wrapper-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: unset;
    }

    .wrapper-profile .profile-pic {
        width: 100%;
        height: 300px;
        position: static;
    }


    .wrapper-profile .team-info {
        width: 90%;
        position: static;
    }

    .wrapper-profile .profile-buttons {
        position: static;
        width: 90%;
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
    }
}
.user-label{
    display:flex;
    align-items:center;
    margin: 10px 0;
}

.user-label img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}


