.profile-form, .team-profile-form {
    flex-direction: column;
    min-height: 90vh;
}

.wrapper-profile {
    width: 850px;
    display: block;
}

.wrapper-profile .user-info {
    width: 400px;
    height: 440px;
}

.wrapper-profile .team-info {
    display: inline-block;
    transition: 0.5s;
    padding-top: 40px;
    width: 65%;
}

.team-info h3, .user-info h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #1B263B;
}

.team-info {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: #1b263b;
}


.team-info h2 {
    font-size: 35px;
}

.team-info h3 {
    font-size: 22px;
}

.wrapper-profile {
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
    color: #1b263b;
}

.team-display .user-display {
    padding: 20px 0 20px 0;
    margin-bottom: 100px;
    width: 100%;
}

.user-info h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #1B263B;
}

.wrapper-profile .profile-pic {
    width: 320px;
    height: 350px;
}

.profile-buttons {
    transition: 0.5s;
    padding: 20px 54px 30px 54px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.profile-buttons button {
    padding: 0 30px;
    height: 40px;
}

.edit-button {
    text-align: right;
}


.sport-box {
    height: 60px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 5px 0;
    border: 2px dashed #778DA9;
    border-radius: 11px;
    max-height: 100px;
    gap: 3px;
    align-content: flex-start;
    overflow: hidden;
}

.sport-box li {
    margin: 0;
    list-style: none;
    border-radius: 20px;
    background: #778DA9;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #1B263B;
    display: inline-block;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
    color: #FFFF;
    text-align: center;
}

.sport-box li i {
    color: #FFF;
    margin-right: 8px;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #778DA9;
}

/*.content input {*/
/*    width: 293px;*/
/*    height: 25px;*/
/*    border-bottom-left-radius: 11px;*/
/*    border-bottom-right-radius: 11px;*/
/*    border: 2px solid #778DA9;*/
/*    border-top: none;*/
/*}*/

.sport-box::-webkit-scrollbar {
    width: 8px;
}

.sport-box::-webkit-scrollbar-track {
    background-color: #E0E1DD;
}

.sport-box::-webkit-scrollbar-thumb {
    background-color: #415A77;
    border-radius: 10px
}

.sport-box::-webkit-scrollbar-thumb:hover {
    background-color: #0D1B2A;
}

.details button {
    background: none;
    border: none;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.team-display {
    width: 90%;
}

.user-label{
    display:flex;
    align-items:center;
    margin: 10px 0;
}

.user-label img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.user-label img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.attribute-type {
    color: #919191 !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.profile-top-content {
    display: flex;
}

.profile-bottom-content {
    display: flex;
    justify-content: right;
    width: inherit;
}







.last5 li, .top5Players li {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.top5Players li {
    /*
    width: fit-content;
    */
    margin-left: unset;
    margin-right: unset;
}

.last5 li:hover {
    cursor: pointer;
    transform: scaleX(1.03) scaleY(1.03);
    box-shadow: 0 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.last5 img, .top5Players img {
    width: 50px;
    height: 50px;
}

.last5 h3 {
    color: #1B263B;
    font-size: 25px;
    font-weight: 600;
    text-decoration-thickness: 2px;
    text-align: left;
    margin-bottom: 10px;
}


.last5 h4 {
    top: 40px;
    right: 28%;
    text-align: left;
    font-size: 14px;
}

.last5 li .r, .top5Players li .r {
    display: flex;
    align-items: center;
}


.outcome-container {
    margin-top: 37px;
    display: inline-block;
}
.outcome-grid {
    display: grid;
    grid-template-columns: repeat(2, 110px);
    grid-template-rows: repeat(2, 110px);
    grid-gap: 17px;
}
.cell {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.outcome-grid h3 {
    color: #1B263B;
    font-size: 25px;
    font-weight: 600;
    text-decoration-thickness: 2px;
    text-align: left;
    margin-bottom: 48px;
}

.outcome-grid h4 {
    margin-top: 52px;
    font-size: 22px;
}

.top5Players h3 {
    float: left;
    font-size: 19px;

}

.top5Players h4 {
    float: right;
    font-size: 19px;
    padding-left: 10px;

}

.select-container select {
    text-align: center;
    width: 100%;
    height:50px;
    border-radius:8px;
    background:#ffffff;
    border-color:#415a77;
    margin-bottom:15px;
    font-size:17px;
    margin-top: 1%;
}

.player-time-div h4 {
    padding-left: unset;
    font-size: 13px;
}

.player-time-div {
    width: 52%;
    margin-top: 8px;
}

@media (max-width: 850px) {
    .last5Ul {
        width: max-content !important;

    }


    .col-wrapper {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .third-col {
        float: unset !important;
        width: unset !important;
    }

    .top5Players ul {
        width: 300px !important;
    }

}