.register .wrapper {
    height: 770px;
}

.register-form .wrapper {
    width: 590px;
}

.register-form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.edit-inputs {
  display: flex;
  justify-content: space-between;
}

.register-inputs-right,
.edit-inputs-right {
  margin-left: auto;
  margin-right: 0;
  width: 280px;
}

.register-inputs-left,
.edit-inputs-left {
  width: 280px;
}

/*.input-box .required {*/
/*    color: red;*/
/*}*/
  

.register-inputs-left .input-box,
.edit-inputs-left .input-box {
  width: 85%;
  height: 35px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
  font-family: "Noto Sans", sans-serif;
}

.register-inputs-right .input-box,
.edit-inputs-right .input-box {
  width: 85%;
  height: 35px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
  font-family: "Noto Sans", sans-serif;
  right: auto;
  left: 40px;
}



@media (max-width: 655px) {
    .register-form .wrapper {
        width: 90vw;
    }

    .register-header {
        font-size: 7vw !important;
    }
}

.register-form form {
    width: 65%;
}

.register-header {
    padding-bottom: 15px;
}


.progressbar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    width: 100%;
    margin: 20px 0 20px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    color: #0b2239;
}

.progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 15px;
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
    line-height: 30px;
}
.progressbar li:nth-child(1):before {
    background-image: url("../image/icons/user.svg");
}

.progressbar li:nth-child(2):before {
    /*temporary as I'm redoing the location icon*/
    background-image: url("../image/icons/grey-location.svg");
    background-color: white;
}

.progressbar li.active:nth-child(2):before {
    background-image: url("../image/icons/white-location.svg");
}

.progressbar li:before {
    content:"";
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    color: #333;
    border-radius: 70%;
    margin: 0 auto 0 auto;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position:center;
}


.progressbar li::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 21px;
    border: #ccc solid 3px;
    background-color: #ccc;
    right: 52.5%;
    z-index: 1;
}

.previous-button {
    display: none;
}

.register-button {
    display: none;
}

.register-inputs-location {
    display: none;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li:before{
    border: #ccc solid 3px;
}

.progressbar li.active:before,  .progressbar li.active:after{
    border: #415A77 solid 3px;
    background-color: #415A77;
    color: white;
}

.register-form form .error-message {
    position: absolute;
}

.register-form form .submit-button {
    display: flex;
    justify-content: center;
}

.register-form form .submit-button button {
    margin: 0 10px;
}

.register-form .cancel-link {
    margin-bottom: 20px !important;
}
