body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: #FFFFFF;
}

.wrapper{
    position: relative;
    width:600px;
    height:440px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius:20px;
    backdrop-filter:blur(20px);
    box-shadow:0 0 30px rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items: center;


}
label{
    font-family: 'Noto Sans';
    color: #000;
}

.create-team{
    font-family: 'Noto Sans';
    color: #0B1B2A;
    text-align: center;
    font-size: 30px;
}
.button{
    color:#1B263B;
}

.input-box{
    position: relative;
    width: 80%;
    height:50px;
    border-bottom: 2px solid #162938;
    margin:30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
}