.team-profile-form .wrapper-profile {
    transition: 0.2s height ease-out;
    width: 900px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 0 solid rgba(255, 255, 255, .5);
}

.team-profile-form .wrapper-profile .team-info {
    left: 33%;
}

/* width is ~ current width / 90 * 100 */
@media (max-width: 1000px) {
    .wrapper-profile {
        width: 90vw !important;
    }
}

@media (max-width: 960px) {
    .team-profile-form {
        min-height: unset;
    }

    .wrapper-profile {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 90vw !important;
        height: unset !important;
    }

    .wrapper-profile .profile-pic {
        width: 100% !important;
        position: static !important;
    }

    .wrapper-profile .team-info {
        width: 100% !important;
        position: static !important;
        padding: 0 5% 0 5%;
    }

    .wrapper-profile .profile-buttons {
        position: static !important;
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .wrapper-profile .join-token {
        position: static !important;
        width: 90% !important;
        padding-top: 0;
        align-items: unset;
        margin: 20px 0;
    }

    .profile-top-content, .team-display .profile-top-content {
        display: block !important;
    }

    .content-box {
        width: inherit;
    }

    .team-display {
        width: unset;
    }

    .grouped-buttons {
        order: 1;
        margin-bottom: 15px;
    }

    .back-button {
        order: 2;
    }
    .back-button {
        max-width: 100px;
    }

    .profile-buttons {
        padding: 20px !important;
    }

}

@media (max-width: 850px) {
   .formation-display.active {
        display: block !important;
    }

    .create-formation-display {
        margin-bottom: 10px;
    }

    .formation-RHS button {
        margin-right: 10px;
    }
}

@media (max-width:  500px) {
    .profile-buttons button {
        padding: 0 15px;
    }

    #edit-profile {
        border-radius: 30px 7px 7px 30px;
        margin-right: 3px;
    }

    #edit-roles {
        border-radius: 7px;
        margin-right: 3px;
    }

    #activities {
        border-radius: 7px 30px 30px 7px;
        margin-right: 0;
    }

    .profile-buttons {
        display: unset;
    }

    .grouped-buttons {
        justify-content: left !important;
    }

    .grouped-buttons button {
        white-space: unset !important;
    }

}


@media (max-width: 750px) {
    .tab .tab-button {
        display: none;
    }
}

.join-token {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

.join-token-box {
    width: 220px;
    padding: 10px 10px 10px 5px;
    border: 5px solid #1B263B;
    border-left: none;
    outline: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #fff 75%, #1b263b 25%);
    height: 50px;
    border-radius: 0 50px 50px 0;
    font-weight: 600;
    border-right: 6px solid #1B263B;
}

.join-token label {
    color: #1b263b;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    padding-bottom: 5px;
    padding-right: 10px;
}

.join-token-box button {
    display: inline-block;
    background: none;
    border: none;
    height: 30px;
    cursor: pointer;
}

.join-token-box img {
    width: 30px;
    transition: 0.2s
}

.join-token-box img:hover {
    transform: rotate(45deg);
}

.join-token-box .token-value {
    width: 75%;
    margin: 0;
    display: inline-block;
    transition: opacity 0.5s ease-in;
}

.join-token-box form {
    height: 30px;
    margin:0;
}
.copy-token {
    z-index: 1;
    border: 5px solid #1B263B;
    border-right: none;
    justify-content: center;
    display: flex;
    border-radius: 5px 0 0 5px;
    width: 40px;
    align-items: center;
}

.copy-token img {
    height: 32px;
    margin: 4px 2px 2px 2px;
    cursor: pointer;
    /*transition: 0.1s ease-in;*/
}

.copy-token img:active {
    height: 30px;
    margin: 5px 5px 5px 5px;
}

.join-token-box-outer {
    display: flex;
    z-index: 2;
}

.tab-box{
    border-radius: 20px 20px 0 0;
    display:flex;
    justify-content:space-around;
    align-items:center;
    top:-60px;
    width:100%;
    background:white;
    height:60px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 2px solid #f2f2f2;
}

.tab-box .tab-button{
    border:none;
    outline:none;
    background: white;
    cursor:pointer;
    font-weight:600;
    font-size:18px;
    color:#919191;
    /*display:flex;*/
}

.tab-line {
    position: relative;
    top: -4px;
    left: 3px;
    width: 25%;
    height: 5px;
    background-color: #1B263B;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.tab.active .tab-button{
    color:#1B263B;
}

.content-box{
    display:none;
    height: 89.3%;
}

.content-box.active{
    display:block;
}

.tab img{
    height:27px;
    width:50px;
    padding-right:13px;
    filter:  invert(64%) sepia(0%) saturate(0%) hue-rotate(161deg) brightness(91%) contrast(86%);
}

.tab.active .tab-icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(3176%) hue-rotate(181deg) brightness(99%) contrast(97%);
}

.tab{
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 25%;
    width: 100vw;
    justify-content: center;
}

.formation-list {
    position: relative;
    width: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 0 20px;
    overflow: auto;
    min-height: 440px;
    transition: 0.2s;
    height: 100%;
    background: white;
}

.formation-list.active {
    width: 175px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.formation-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.formation-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.formation-list li {
    border-radius: 10px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    display: flex;
    cursor: pointer;
    margin: 5px;
}

.formation-list li:active, .formation-list li.active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background: rgba(15, 15, 15, 0.07);
}

.formation-list li img {
    width: 40px;
}

.create-formation-display {
    display: flex;
    margin-top: 2vh;
}

.content.formations {
    display: flex;
    overflow: hidden;
}

.formation-display {
    margin: 20px 23px;
}

.input-box {
    min-width: 96px;
    height: unset;
    margin: unset;
    width: 30%;

}

.error-message, .formation-display {
    display: none;
}

.error-message.active {
    display: block;
}

.formation-display.active {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formation-display button {
    background-color: #0b2239;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 0 10px;
    height: 34px;
    margin-left: 5px;
    white-space: nowrap;
}

.formation-display button:hover {
    background-color: #415a77;
    cursor: pointer;
}

.formation-display button:active {
    transform: scaleX(0.98) scaleY(0.98);
    background-color: #0b2239;
}

.formation-RHS button {
    float: right;
    margin-top: 5px;
}

.col-wrapper {
    width: 100%;
}

.third-col {
    padding: 10px;
    float: left;
    display: block;
    width: 33%;
    text-align: center;
}

.team-display .profile-top-content {
    justify-content: space-between;
    display: flex;
}

.back-button {
    margin-right: 14%;
}

.grouped-buttons {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.grouped-buttons button {
    white-space: nowrap;
}

.toggle-formation-button {
    height: 50px;
    cursor: pointer;
    border: none;
    color: #0b2239;
    border-radius: 0 10px 10px 0;
    width: 30px;
    background: white;
    box-shadow: 4px 0 4px -1px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 20px;
    font-family: revert;
    padding: 0 0 2px 0;
}

.formation-list-outer {
    display: flex;
    margin-right: -30px;
    align-items: center;
    z-index: 2;
}

.formation-outer {
    display: flex;
    justify-content: center;
}

.club-link >span{
    color:#415a77;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
}

.club-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.logo img{
    margin-right: 10px;
    width: 85%;
    height: auto;
}

.logo {
    width: 60px;
    text-align: center;
}

.club-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}


#wrapper-profile .content {
    max-height: 460px;
    height: 100vh;
}

.content.whiteboard-media {
    display: flex;
}

.whiteboard-media-select {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.whiteboard-play-button {
    display: flex;
    width: 30%;
    min-width: 300px;
}

.whiteboard-media-recordings {
    height: 100%;
}

.whiteboard-media-images {
    height: 100%;
    overflow: auto;
    float: left
}

/*
Following CSS is adapted from card-wrapper on view-all pages.
 */
.media-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.media-image{
    border-radius: 5px;
    background:whitesmoke;
    height:200px;
}

.media {
    margin: 5px 5px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    cursor:pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    aspect-ratio: 1 / 1;
    height: 90%;
    flex-shrink: 0;
}

.media img {
    border-radius: 10px;
}


.media-body {
    /*height: 100%;*/
    width: 200px;
    padding: 6px;
    box-sizing: border-box;
    color: white;
    font-family: "Noto Sans", sans-serif;
    height:fit-content;
}

.media-body .media-title{
    text-align: center;
    font-size:16px;
}

.media img:hover {
    cursor: pointer;
}













@media (max-width: 500px) {
    .float-child {
        width: 100vw;
        float: none;
    }
    
    .club-link {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        justify-content: flex-start;
    }

    .logo {
        width: 60px;
        margin: 0 auto 10px; 
    }

    .logo img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .club-header {
        max-width: 10ch;
    }
}

.no-formation {
    color: darkgray;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    /* The text implicitly has a size (it's not 0x0 pixels), so account for it */
    transform: translate(-50%, -50%);
    white-space: nowrap;    /* Prevents the text from getting scrunched up when the panel collapses */
}

.formation-description {
    font-style: italic;
    font-size: small;
    line-height: 1.1rem;
}

/* Other CSS files disable the icon before a <li>, this adds it back for specific children */
ul.formation-description > li {
    list-style: disc;
    margin-left: 1rem;
}

.drag-info {
    text-align: center;
}

.formation-RHS {
    margin: auto;
}

.tabNameAndIndex {
    display: none;
}