.user-form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-header {
    padding-bottom: 30px;
}


.wrapper form {
    width: 80%;
    padding-top: 1em;
    margin-bottom: 1em;
}

.user-form .wrapper {
    width: 540px;
    bottom: 20px;
    margin: auto;
}

@media (max-width: 600px) {
    .user-form .wrapper {
        width: 90vw;
    }
}
