/*.team-profile-form .wrapper-profile {*/
/*    height: 430px;*/
/*    width: 900px;*/
/*}*/

/*.wrapper-profile .team-info {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*    padding-top: 5%;*/
/*    left: 10%;*/
/*    transition: 0.5s;*/
/*}*/

/*.details {*/
/*    !*float: right;*!*/
/*    !*!**!*/
/*    !*margin-right: 20%;*!*/
/*    !**!*!*/
/*    !*margin-top: 2%;*!*/
/*    !*font-family: "Noto Sans", sans-serif;*!*/
/*    !*font-weight: 600;*!*/
/*    !*font-size: 22px;*!*/
/*    !*color: #1B263B;*!*/
/*    !*width: 344px;*!*/

/*}*/

.activity-type {
    display: inline-block;
}


/* width is ~ current width / 90 * 100 */
@media (max-width: 1000px) {
    .wrapper-profile {
        width: 90vw !important;
        display: block !important;
    }
}

@media (max-width: 850px) {
    .wrapper-profile {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 90vw !important;
        height: unset !important;
    }


    .wrapper-profile .team-info {
        width: 0% !important;
        position: static !important;
        padding-top: 0 !important;
    }
}

.activity-score {
    width: 50%;
    margin-left: 15%;
    text-align: center;
}

.facts-table li {
    display: block;
    border: 4px #1B263B solid;
    background: white;
    margin: 3px 0;
    border-radius: 10px;
    padding: 5px;

    width: 50%;
}

.facts-table li:hover {
    background-color: #E6E4E4;
    cursor: pointer;
}


.wrapper-facts {
    width: fit-content;
}

.wrapper-facts ul {
    width: 550px;
}

@media screen and (max-width: 550px) {
    .wrapper-facts ul {
        width: 100vw;
    }
}
.act-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.act-info {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px 50px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.act-info > div {
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 20px;
    position: relative;
    flex: 1;
}

.act-details,
.act-date-time,
.act-facts,
.act-lineup,
.act-subs {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.act-facts {
    align-items: flex-end;
}






