th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    background-color: #415a77;
    color: white;
}

th:first-child {
    width: 10%;
}

th:nth-child(2) {
    width: 15%;
}
th:nth-child(3) {
    width: 15%;
}
th:nth-child(4) {
    width: 60%;
}

.search-bar {
    margin: 10px auto;
    width: 60%;
    max-width: 500px;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    border: 2px solid #58629b;
    border-radius: 60px;
    padding: 10px 20px;
    height: 50px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 20px;
    color: black;
}

.search-bar button img {
    width: 25px;
    margin-right: 2px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;
    position: relative;
    right: -3.8%;
}

.search-button {
    background-color: #415a77;
    width: 6%;
}

.filter-bar{
    width:100%;
    height:35px;
    display:flex;
    /*justify-content: space-between;*/
}

.search-input {
    border-radius: 5px;
    padding-bottom: 4px;
    width: 15%;
}

.pagination-container {
    list-style:none;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:12px 16px;
    border-radius:8px;
    background:white;
    width:fit-content;
    margin:auto;
    align-items:center;
    margin-top:10px;
}

.pagination-container button{
    color: #0b2239;
    margin:4px;
    padding:12px 16px;
    border-radius:8px;
    background-color:#ccc;
    border:2px solid #ccc
}

.pagination-container button:hover{
    color:#415a77;
    border-color:#415a77;
}

.pagination-container button.active {
    background-color: #1b263b;
    color: white;
}
.pagination-container button[disabled]{
    pointer-events:none;
}

.pagination-container button[disabled] span{
    opacity: 0.5;
}

.pagination-button,
.totalPages {
    padding: 5px;
}

.pagination-button[disabled] span {
    opacity: 0.5; /* Set opacity to 50% */
}

.totalPages {
    font-family: "Noto Sans", sans-serif;
    font-weight:500;
}

/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    font-family: "Noto Sans", sans-serif;*/
/*    padding: 50px;*/
/*    font-size: 18px;*/
/*}*/
.card-container {
    display: flex;
}

.card-wrapper{
    background:white;
}

.card img {
    height: 200px;
    width: 200px;
    border-radius: 3px;
}

.card {
    height: 200px;
    margin: 50px 30px;
    overflow: hidden;
    background: white;
    border-radius: 10px;
    display: flex;
}

.card-body {
    height: 100%;
    width: 200px;
    padding: 6px;
    box-sizing: border-box;
    background: rgba(27, 27, 27, 0.5);
    color: white;
}
