.whiteboard-form {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction:column
}

.upper-canvas.erase {
    cursor: url('../image/icons/eraser-cursor.png') 10 15, auto !important;
}

.canvas-container {
    background-image: url('../image/icons/pitch.svg');
    background-repeat: no-repeat;
}

.whiteboard-wrapper {
    display:flex;
    flex-direction:row;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.whiteboard-buttons {
    background: #0b2239;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.whiteboard-buttons button {
    height: 35px;
    width: 35px;
    border: none;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteboard-buttons button .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-top: -73px;
    position: absolute;
    z-index: 1;
}

.whiteboard-buttons button:hover .tooltip {
    visibility: visible;
}


.whiteboard-buttons button img {
    height: 25px;
}

.whiteboard-buttons button.active {
    background: #0b2239;
    border: 2px white solid;
}

.whiteboard-buttons .delete-button {
    background: #EA3B52;
}

/* Hide the selected SVG by default */
.selected-svg {
    display: none;
}

/* Show the selected SVG when the button has the "active" class */
.active .selected-svg {
    display: inline-block;
}

/* Show the default SVG when the button doesn't have the "active" class */
.default-svg {
    display: inline-block;
}

.active .default-svg {
    display: none;
}

.whiteboard-dropdowns{
    width:300px;
    margin-right:20px;
}

.whiteboard-dropdowns h3{
    padding-top:11px;
    color: #808080;
    font-size:22px;
}

.whiteboard-dropdowns .dropdown{
    color: #1B263B;
    font-size:18px;
}





