<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/create-competition.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${clubId != null ? 'Edit' : 'Create'}]] Club</title>
</head>
<body class="view-teams-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="competition-form">
    <div class="header">
        <h1>[[${competitionId != null ? 'Update' : 'Create'}]] Competition</h1>
    </div>

    <div class="wrapper">
        <form th:action="@{createClub}" th:object="${createAndEditClubForm}" id="createAndEditClubForm" method="post">
            <input type="hidden" th:if="${clubId != null}" th:name="clubId" th:value="${clubId}"/>

            <div class="create-header">
                <h2>Details</h2>
                <img th:src="@{/image/icons/details.svg}"/>
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="name" th:name="name" th:value="${name}"
                       data-cy="name" autofocus placeholder="">
                <label for="name">Name <span class="required">*</span></label>
<!--                <div th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="sport" th:name="sport" th:value="${sport}"
                       data-cy="sport" autofocus placeholder=""
                       onchange=""
                       title="May include letters, numbers, dots, and curly braces. Must start with letter or number">
                <label for="sport">Sport <span class="required">*</span></label>
<!--                <div th:each="err : ${#fields.errors('sport')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="select-box">
                <label>Grade Level <span class="required">*</span></label>
                <div class="grade-level-details">
                    <div>
                        <select id="level">
                            <option value="" disabled selected>Level</option>
                        </select>
                    </div>
                    <div>
                        <select id="gender">
                            <option value="" disabled selected>Gender</option>
                        </select>
                    </div>
                    <div>
                        <select id="age">
                            <option value="" disabled selected>Age</option>
                        </select>
                    </div>
                </div>
<!--                <div th:each="err : ${#fields.errors('gradeLevel')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="create-header">
                <h2>Location (Optional)</h2>
                <img th:src="@{/image/icons/dark-blue-location.svg}"/>
            </div>

            <div class="input-boxes">
                <div class="input-box">
                    <input type="text" class="form-control" id="address-line-1" th:name="addressLine1"
                           data-cy="location" autofocus placeholder="" autocomplete="off" th:value="${addressLine1}"
                           title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                    <label for="address-line-1">Address Line 1</label>
                    <div class="autocomplete-container" id="autocomplete-container"></div>
<!--                    <div th:each="err : ${#fields.errors('addressLine1')}" th:text="${err}" class="error-message"></div>-->
                </div>


                <div class="input-box">
                    <input type="text" class="form-control" id="address-line-2" th:name="addressLine2"
                           data-cy="location" autofocus placeholder="" th:value="${addressLine2}"
                           title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                    <label for="address-line-2">Address Line 2</label>
                    <!--                <div th:each="err : ${#fields.errors('addressLine2')}" th:text="${err}" class="error-message"></div>-->
                </div>
            </div>
            <div class="input-box">
                <input type="text" class="form-control" id="suburb" th:name="suburb"
                       data-cy="location" autofocus placeholder="" th:value="${suburb}">
                <label for="suburb">Suburb</label>
                <!--            <div th:each="err : ${#fields.errors('suburb')}" th:text="${err}" class="error-message"></div>-->
            </div>
            <div class="input-box">
                <input type="text" class="form-control" id="postcode" th:name="postcode"
                       data-cy="location" autofocus placeholder="" th:value="${postcode}">
                <label for="postcode">Postcode</span></label>
                <!--            <div th:each="err : ${#fields.errors('postcode')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="city" th:name="city"
                       data-cy="location" autofocus placeholder="" th:value="${city}">
                <label for="city">City</label>
                <!--            <div th:each="err : ${#fields.errors('city')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="country" th:name="country"
                       data-cy="location" autofocus placeholder="" th:value="${country}">
                <label for="country">Country</label>
                <!--            <div th:each="err : ${#fields.errors('country')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="create-header">
                <h2>Competitors</h2>
                <img id="members-img" th:src="@{/image/icons/members.svg}"/>
            </div>

            <div class="checkbox-box">
                <label>Type</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="slider-text"></span>
                </label>
            </div>

            <div class="member-selection-box">
                <div class="inactive-cover">
                    <h3>You must type in a sport before you may add competitors</h3>
                </div>
                <div class="competitors-box">
                    <div class="competitors-header">Competitors</div>
                    <ul class="competitors-ul"></ul>
                </div>
                <div class="users-teams-box">
                    <div class="search-box">
                        <input type="text" placeholder="Search...">
                        <img th:src="@{/image/icons/search-white.svg}"/>
                    </div>
                    <ul class="users-teams-ul">
                        <li th:each="player : ${players}" class="reserves-li">
                            <img class="li-player-image" th:src="${'data:image/jpeg;base64,' + player.getPictureString}" alt="My Profile"/>
                            <span class="li-player-name" th:text="${player.getFirstName}"></span>
                            <button class="switch" type="button"></button>
                            <input type="hidden" class="playerId" th:value="${player.getUserId}">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="submit-button">
                <a th:href="@{home}">
                    <button type="submit" th:text="${clubId != null ? 'Save' : 'Create'}"></button>
                </a>
            </div>


        </form>
    </div>
    <footer>
        <p>
            Image by <a
                href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
            on Freepik
        </p>
    </footer>
</div>
</body>
<script>

    const sportsInput = document.getElementById("sport")
    const inactiveCover = document.querySelector(".inactive-cover")

    sportsInput.addEventListener("change", () => {
        clearCompetitors();
        if (sportsInput.value.trim() !== "") {
            inactiveCover.classList.add("active")
        } else {
            inactiveCover.classList.remove("active")
        }
    })

    const competitorsUl = document.querySelector(".competitors-ul")
    const playersTeamsUl = document.querySelector(".users-teams-ul")

    function clearCompetitors() {
        while (competitorsUl.firstChild) {
            competitorsUl.removeChild(competitorsUl.lastChild);
        }
        while (playersTeamsUl.firstChild) {
            playersTeamsUl.removeChild(playersTeamsUl.lastChild);
        }
    }

    const typeCheckbox = document.querySelector(".switch input");

    typeCheckbox.addEventListener("change", function () {
        clearCompetitors();
        getCompetitors();
    })

    function getCompetitors() {
        if (!inactiveCover.classList.contains("active")) {
            const type = typeCheckbox.checked ? "users" : "teams"
            axios.get("createCompetitions/get_" + type, {params: {sport: sportsInput.value}})
                .then(response => {
                    if (type === "users") {
                        generateUsers(response)
                    } else {
                        generateTeams(response)
                    }
                })
                .catch(error => {
                    alert("ERROR see console");
                    console.error(error);
                });
        }
    }

    const usersTeamsUl = document.querySelector(".users-teams-ul")

    function generateUsers(users) {
        users.forEach((user) => {
            const playerLi = document.createElement("li");
            const liPlayerName = document.createElement("span");
            liPlayerName.textContent = user.firstName;
            playerLi.append(liPlayerName);
            usersTeamsUl.append(playerLi);
        })

    }

    function generateTeams(teams) {

    }

</script>
</html>