<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/create-club.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>[[${clubId != null ? 'Edit' : 'Create'}]] Club</title>
</head>
<body class="view-teams-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="club-form">

    <div class="create-club-header">
        <h1>[[${clubId != null ? 'Edit' : 'Create'}]] Club</h1>
    </div>

    <div class="wrapper">
        <form th:action="@{createClub}" th:object="${createAndEditClubForm}" id="createAndEditClubForm" method="post">
            <input type="hidden" th:if="${clubId != null}" th:name="clubId" th:value="${clubId}"/>




            <div class="input-box">
                <input type="text" class="form-control" id="name" th:name="name" th:value="*{name}"
                       data-cy="name" autofocus placeholder=""
                       title="May include letters, numbers, dots, and curly braces. Must start with letter or number">
                <label for="name">Club Name <span class="required">*</span></label>
                <div th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error-message"></div>
            </div>


            <div class="input-boxes">
                <div class="input-box">
                    <input type="text" class="form-control" id="address-line-1" th:name="addressLine1"
                           data-cy="location" autofocus placeholder="" autocomplete="off" th:value="${addressLine1}"
                           title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                    <label for="address-line-1">Address Line 1<span class="required">*</span></label>
                    <div class="autocomplete-container" id="autocomplete-container"></div>
                    <div th:each="err : ${#fields.errors('addressLine1')}" th:text="${err}" class="error-message"></div>
                </div>


                <div class="input-box">
                    <input type="text" class="form-control" id="address-line-2" th:name="addressLine2"
                           data-cy="location" autofocus placeholder="" th:value="${addressLine2}"
                           title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                    <label for="address-line-2">Address Line 2</label>
                </div>
                <div th:each="err : ${#fields.errors('addressLine2')}" th:text="${err}" class="error-message"></div>
            </div>

            <div class="input-boxes">

            <div class="input-box">
                <input type="text" class="form-control" id="suburb" th:name="suburb"
                       data-cy="location" autofocus placeholder="" th:value="${suburb}">
                <label for="suburb">Suburb</label>
            </div>
            <div th:each="err : ${#fields.errors('suburb')}" th:text="${err}" class="error-message"></div>
            <div class="input-box">
                <input type="text" class="form-control" id="postcode" th:name="postcode"
                       data-cy="location" autofocus placeholder="" th:value="${postcode}">
                <label for="postcode">Postcode<span class="required">*</span></label>
            </div>
            <div th:each="err : ${#fields.errors('postcode')}" th:text="${err}" class="error-message"></div>
            </div>

            <div class="input-boxes">
            <div class="input-box">
                <input type="text" class="form-control" id="city" th:name="city"
                       data-cy="location" autofocus placeholder="" th:value="${city}">
                <label for="city">City <span class="required">*</span></label>
            </div>
            <div th:each="err : ${#fields.errors('city')}" th:text="${err}" class="error-message"></div>

            <div class="input-box">
                <input type="text" class="form-control" id="country" th:name="country"
                       data-cy="location" autofocus placeholder="" th:value="${country}">
                <label for="country">Country <span class="required">*</span></label>
            </div>
            <div th:each="err : ${#fields.errors('country')}" th:text="${err}" class="error-message"></div>
            </div>

            <label class="selectTeamsLabel"> Select Teams </label>
            <select name="selectedTeams" id="selectedTeams" multiple>
                <option class="selectTeamsOption" th:each="team : ${listOfTeams}"
                        th:value="${team.teamId}"
                        th:text="${team}"></option>
            </select>

            <label style="font-family: 'Noto Sans', sans-serif"> Hold ctrl and click on teams to select multiple </label>

            <div th:each="err : ${#fields.errors('selectedTeams')}" th:text="${err}" class="error-message"></div>


            <div class="submit-button">
                <a th:href="@{home}">
                    <button type="submit" th:text="${clubId != null ? 'Save' : 'Create'}"></button>

                </a>
            </div>
        </form>
    </div>
</div>
</body>

<script type="text/javascript" th:inline="javascript">
    /**
     ` * The endpoint for the OpenRouteService Geocoding API's autocomplete feature.
     * @type {string}
     */
    const path = /*[[${path}]]*/ "";
    const ENDPOINT = path + "/geocode/autocomplete";
</script>
<script th:inline="javascript">
    /**
     * The delay time (in milliseconds) for debouncing the search input.
     * @type {number}
     */
    const DEBOUNCE_DELAY = 450; // set the debounce delay to 450ms

    const searchBox = document.querySelector('#address-line-1');
    const resultsContainer = document.querySelector('#autocomplete-container');
    const countryInput = document.querySelector('#country');
    const cityInput = document.querySelector('#city');
    const suburbInput = document.querySelector('#suburb');
    const postcodeInput = document.querySelector('#postcode');

    let timeoutId;

    /**
     * Debounces the given function with the given delay time.
     * @param {Function} fn - The function to be debounced.
     * @param {number} delay - The delay time (in milliseconds) for debouncing.
     * @returns {Function} The debounced function.
     */
    function debounce(fn, delay) {
        return function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => fn.apply(this, arguments), delay);
        }
    }

    /**
     * Searches the OpenRouteService Geocoding API for autocomplete results based on the current search input value.
     * Displays the results in the results container element.
     */
    function searchAutocomplete() {
        const searchTerm = this.value.trim();

        if (searchTerm.length >= 3) {
            axios.get(ENDPOINT, {
                params: {
                    text: searchTerm,
                    language: 'en'
                }
            })
                .then(response => {
                    const results = response.data.features.slice(0, 5);
                    let html = '';
                    if (results.length > 0) {
                        html = '<ul class ="autocomplete-result">';
                        results.forEach(result => {
                            html += `<li class="location-autocomplete-value" data-country="${result.properties.country}" data-city="${result.properties.locality}" data-suburb="${result.properties.localadmin}" data-postcode="${result.properties.postalcode}" data-house-number="${result.properties.housenumber}" data-street="${result.properties.street}">${result.properties.label}</li>`;
                        });
                        html += '</ul>';
                    } else {
                        html = '<p>No results found</p>';
                    }
                    resultsContainer.innerHTML = html;
                })
                .catch(error => {
                    console.error(error);
                    resultsContainer.innerHTML = '<p>Error fetching results</p>';
                });
        } else {
            resultsContainer.innerHTML = '';
        }
    }

    /**
     * Adds an event listener to the search input element for debouncing the searchAutocomplete function.
     */
    searchBox.addEventListener('input', debounce(searchAutocomplete, DEBOUNCE_DELAY));


    /**
     * Adds an event listener to the results container element for handling the click event on an autocomplete result.
     * Updates the search input and the selected address elements with the clicked result data.
     */
    resultsContainer.addEventListener('click', function (event) {
        if (event.target.tagName === 'LI') {
            let address = event.target.getAttribute('data-house-number') === "undefined" ? "" : event.target.getAttribute('data-house-number') + " ";
            address += event.target.getAttribute('data-street') === "undefined" ? "" : event.target.getAttribute('data-street');
            searchBox.value = address;
            const country = event.target.getAttribute('data-country') === "undefined" ? "" : event.target.getAttribute('data-country');
            const city = event.target.getAttribute('data-city') === "undefined" ? "" : event.target.getAttribute('data-city');
            const suburb = event.target.getAttribute('data-suburb') === "undefined" ? "" : event.target.getAttribute('data-suburb');
            const postcode = event.target.getAttribute('data-postcode') === "undefined" ? "" : event.target.getAttribute('data-postcode');
            countryInput.value = country;
            cityInput.value = suburb;
            suburbInput.value = city;
            postcodeInput.value = postcode;
            resultsContainer.innerHTML = "";
        }
    });

    document.addEventListener('click', function (event) {
        if (resultsContainer.innerHTML !== '' && !resultsContainer.contains(event.target)) {
            resultsContainer.innerHTML = "";
        }
    });





</script>
</html>