<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/create-competition.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${clubId != null ? 'Edit' : 'Create'}]] Club</title>
</head>
<body class="view-teams-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="competition-form">
    <div class="header">
        <h1>[[${competitionID != null ? 'Update' : 'Create'}]] Competition</h1>
    </div>

    <div class="wrapper">
        <form th:action="@{createClub}" th:object="${createAndEditClubForm}" id="createAndEditClubForm" method="post">
            <input type="hidden" th:if="${clubId != null}" th:name="clubId" th:value="${clubId}"/>

            <div class="input-box">
                <input type="text" class="form-control" id="name" th:name="name" th:value="${name}"
                       data-cy="name" autofocus placeholder="">
                <label for="name">Name <span class="required">*</span></label>
<!--                <div th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="sport" th:name="sport" th:value="${sport}"
                       data-cy="sport" autofocus placeholder=""
                       title="May include letters, numbers, dots, and curly braces. Must start with letter or number">
                <label for="sport">Sport <span class="required">*</span></label>
<!--                <div th:each="err : ${#fields.errors('sport')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="grade-level" th:name="gradeLevel" th:value="${gradeLevel}"
                       data-cy="gradeLevel" autofocus placeholder="">
                <label for="grade-level">Grade Level <span class="required">*</span></label>
<!--                <div th:each="err : ${#fields.errors('gradeLevel')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="submit-button">
                <a th:href="@{home}">
                    <button type="submit" th:text="${clubId != null ? 'Save' : 'Create'}"></button>

                </a>
            </div>
        </form>
    </div>
    <footer>
        <p>
            Image by <a
                href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
            on Freepik
        </p>
    </footer>
</div>
</body>
</html>