<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/create-competition.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${competitionID != null ? 'Update' : 'Create'}]] Competition</title>
</head>
<body class="view-teams-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="competition-form">
    <div class="header">
        <h1>[[${competitionId != null ? 'Update' : 'Create'}]] Competition</h1>
    </div>

    <div class="wrapper">
        <form th:action="@{createCompetition}" th:object="${createAndEditCompetitionForm}" id="createAndEditCompetitionForm" method="post">
            <input type="hidden" th:if="${CompetitionID != null}" th:name="competitionID" th:value="${competitionID}"/>

            <div class="create-header">
                <h2>Details</h2>
                <img th:src="@{/image/icons/details.svg}"/>
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="name" th:name="name" th:value="${name}"
                       data-cy="name" autofocus placeholder="">
                <label for="name">Name <span class="required">*</span></label>
<!--                <div th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="sport" th:name="sport" th:value="${sport}"
                       data-cy="sport" autofocus placeholder=""
                       onchange=""
                       title="May include letters, numbers, dots, and curly braces. Must start with letter or number">
                <label for="sport">Sport <span class="required">*</span></label>
<!--                <div th:each="err : ${#fields.errors('sport')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="select-box">
                <label>Grade Level <span class="required">*</span></label>
                <div class="grade-level-details">
                    <div>
                        <select id="level">
                            <option value="" disabled selected>Level</option>
                        </select>
                    </div>
                    <div>
                        <select id="gender">
                            <option value="" disabled selected>Gender</option>
                        </select>
                    </div>
                    <div>
                        <select id="age">
                            <option value="" disabled selected>Age</option>
                        </select>
                    </div>
                </div>
<!--                <div th:each="err : ${#fields.errors('gradeLevel')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="create-header">
                <h2>Location (Optional)</h2>
                <img th:src="@{/image/icons/dark-blue-location.svg}"/>
            </div>

            <div class="input-boxes">
                <div class="input-box">
                    <input type="text" class="form-control" id="address-line-1" th:name="addressLine1"
                           data-cy="location" autofocus placeholder="" autocomplete="off" th:value="${addressLine1}"
                           title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                    <label for="address-line-1">Address Line 1</label>
                    <div class="autocomplete-container" id="autocomplete-container"></div>
<!--                    <div th:each="err : ${#fields.errors('addressLine1')}" th:text="${err}" class="error-message"></div>-->
                </div>


                <div class="input-box">
                    <input type="text" class="form-control" id="address-line-2" th:name="addressLine2"
                           data-cy="location" autofocus placeholder="" th:value="${addressLine2}"
                           title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                    <label for="address-line-2">Address Line 2</label>
                    <!--                <div th:each="err : ${#fields.errors('addressLine2')}" th:text="${err}" class="error-message"></div>-->
                </div>
            </div>
            <div class="input-box">
                <input type="text" class="form-control" id="suburb" th:name="suburb"
                       data-cy="location" autofocus placeholder="" th:value="${suburb}">
                <label for="suburb">Suburb</label>
                <!--            <div th:each="err : ${#fields.errors('suburb')}" th:text="${err}" class="error-message"></div>-->
            </div>
            <div class="input-box">
                <input type="text" class="form-control" id="postcode" th:name="postcode"
                       data-cy="location" autofocus placeholder="" th:value="${postcode}">
                <label for="postcode">Postcode</span></label>
                <!--            <div th:each="err : ${#fields.errors('postcode')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="city" th:name="city"
                       data-cy="location" autofocus placeholder="" th:value="${city}">
                <label for="city">City</label>
                <!--            <div th:each="err : ${#fields.errors('city')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="input-box">
                <input type="text" class="form-control" id="country" th:name="country"
                       data-cy="location" autofocus placeholder="" th:value="${country}">
                <label for="country">Country</label>
                <!--            <div th:each="err : ${#fields.errors('country')}" th:text="${err}" class="error-message"></div>-->
            </div>

            <div class="create-header">
                <h2>Competitors </h2>
                <img id="members-img" th:src="@{/image/icons/members.svg}"/>
            </div>

            <div class="checkbox-box">
                <label>Type</label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                    <span class="slider-text"></span>
                </label>
            </div>

            <div class="member-selection-box">
                <div class="inactive-cover active">
                    <h3>You must type in a sport before you may add competitors</h3>
                </div>
                <div class="competitors-box">
                    <div class="competitors-header">Competitors</div>
                    <ul class="competitors-ul"></ul>
                </div>
                <div class="users-teams-box">
                    <div class="search-box">
                        <input type="text" placeholder="Search..." class="search-box-input">
                        <img th:src="@{/image/icons/search-white.svg}"/>
                        <input type="hidden" class="search-query">
                    </div>
                    <ul class="users-teams-ul"></ul>
                </div>
            </div>

            <div class="submit-button">
                <a th:href="@{home}">
                    <button type="submit" th:text="${competitionID != null ? 'Save' : 'Create'}"></button>
                </a>
            </div>


        </form>
    </div>
    <footer>
        <p>
            Image by <a
                href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
            on Freepik
        </p>
    </footer>
</div>
</body>
<script>

    const sportsInput = document.getElementById("sport")
    const inactiveCover = document.querySelector(".inactive-cover")

    sportsInput.addEventListener("change", () => {
        clearCompetitors();
        if (sportsInput.value.trim() !== "") {
            inactiveCover.classList.remove("active")
            setTimeout(() => {
                inactiveCover.style.display = "none";
                getCompetitors();
            }, 1000);
        } else {
            inactiveCover.classList.add("active")
            inactiveCover.style.display = "flex";
        }
    })

    const competitorsUl = document.querySelector(".competitors-ul")
    const playersTeamsUl = document.querySelector(".users-teams-ul")
    const searchInput = document.querySelector(".search-box-input")
    const searchQuery = document.querySelector(".search-query")

    function clearCompetitors() {
        while (competitorsUl.firstChild) {
            competitorsUl.removeChild(competitorsUl.lastChild);
        }
        while (playersTeamsUl.firstChild) {
            playersTeamsUl.removeChild(playersTeamsUl.lastChild);
        }
        searchInput.value = "";
        searchQuery.value = "";
    }

    const typeCheckbox = document.querySelector(".switch input");

    typeCheckbox.addEventListener("change", function () {
        clearCompetitors();
        getCompetitors();
    });

    const searchBoxImage = document.querySelector(".search-box img");

    searchBoxImage.addEventListener("click", () => {
        searchQuery.value = searchInput.value
        getCompetitors();
    })

    searchInput.addEventListener("keypress", function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            searchQuery.value = searchInput.value
            getCompetitors();
        }
    });

    function getCompetitors() {
        if (!inactiveCover.classList.contains("active")) {
            const type = typeCheckbox.checked ? "users" : "teams"
            axios.get("createCompetition/get_" + type, {params: {sport: sportsInput.value, search: searchQuery.value}})
                .then(response => {
                    if (type === "users") {
                        generateUsers(response.data)
                    } else {
                        generateTeams(response.data)
                    }
                })
                .catch(error => {
                    alert("ERROR see console");
                    console.error(error);
                });
        }
    }

    const usersTeamsUl = document.querySelector(".users-teams-ul")

    function generateUsers(users) {
        console.log(users)
        for (let i = 0; i < users.length; i++) {
            const user = users[i];
            if (!checkUserTeamPresent(user.userId)) {
                const userLi = document.createElement("li");
                userLi.className = "users-teams-li";
                usersTeamsUl.append(userLi);

                const liUserImage = document.createElement("img");
                liUserImage.className = "li-user-team-image";
                liUserImage.src = "data:image/jpeg;base64," + user.pictureString;
                liUserImage.alt = "My Profile";
                userLi.append(liUserImage);

                const liUserName = document.createElement("span");
                liUserName.className = "li-user-team-name";
                liUserName.textContent = user.firstName + " " + user.lastName;
                userLi.append(liUserName);

                const userId = document.createElement("input");
                userId.className = "user-team-ID"
                userId.type = "hidden";
                userId.value = user.userId;
                userLi.append(userId);
                userTeamChange(userLi);
            }
        }
    }

    function generateTeams(teams) {
        for (let i = 0; i < teams.length; i++) {
            const team = teams[i];
            if (!checkUserTeamPresent(team.teamId)) {
                const teamLi = document.createElement("li");
                teamLi.className = "users-teams-li";
                usersTeamsUl.append(teamLi);

                const liTeamImage = document.createElement("img");
                liTeamImage.className = "li-user-team-image";
                liTeamImage.src = "data:image/jpeg;base64," + team.pictureString;
                liTeamImage.alt = "My Profile";
                teamLi.append(liTeamImage);

                const liTeamName = document.createElement("span");
                liTeamName.className = "li-user-team-name";
                liTeamName.textContent = team.name;
                teamLi.append(liTeamName);

                const teamId = document.createElement("input");
                teamId.className = "user-team-ID"
                teamId.type = "hidden";
                teamId.value = team.teamId;
                teamLi.append(teamId);
                userTeamChange(teamLi);
            }
        }
    }

    const userTeamIDs = document.querySelectorAll(".competitors-li input")

    function checkUserTeamPresent(ID) {
        console.log(userTeamIDs, ID)
        userTeamIDs.forEach((userTeamID) => {
            if (ID === userTeamID) {
                return true
            }
        });
        return false;
    }

    function userTeamChange(userTeam) {
        userTeam.addEventListener('click', () => {
            if (userTeam.classList.contains("user-teams-li")) {
                userTeam.classList.remove("user-teams-li");
                userTeam.classList.add("competitors-li");
                usersTeamsUl.removeChild(userTeam);
                competitorsUl.append(userTeam);
            } else {
                competitorsUl.removeChild(userTeam);
                getCompetitors();
            }
        });
    }

</script>
</html>