<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <link href="./resources/static.css/style.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Form Demo</title>
    </head>
    <body>
        <h4>Welcome To SENG302</h4>
        <p th:text="'hello, ' + ${name} + '!'"></p>
        <a th:href="@{form}">View an interactive form example</a>
        <br/>
        <a th:href="@{fragments/main}">View a fragment example</a>
        <br/>
        <a th:href="@{team_form}"><button>Create Team</button></a>
        <br/>
        <p th:text="${message}" th:if="${message ne null}"></p>
        <form method="post" th:action="@{/upload}" th:object="${team}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" id="file-upload" name="file" accept="image/png, image/jpeg, image/svg">
            </div>
        </form>
    </body>
</html>