<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <link href="./resources/static.css/style.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Form Demo</title>
    </head>
    <body>
        <h4>Welcome To SENG302</h4>
        <p th:text="'hello, ' + ${name} + '!'"></p>
        <a th:href="@{form}">View an interactive form example</a>
        <br/>
        <a th:href="@{fragments/main}">View a fragment example</a>
        <br/>
        <a th:href="@{team_form}"><button>Create Team</button></a>
        <br/>
        <form method="post" th:action="@{/demo}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload Profile Picture</button>
        </form>
        <div th:if="${sizeError == true}">Image must be less than 10MB</div>
        <div th:if="${typeError == true}">Please choose a .png, .jpg or .svg file</div>
        <div th:if="${emptyFileError == true}">Please choose a file</div>
    </body>
</html>