<!--/*
    Edit User Form.

    Attributes:
    - editUserForm: The POJO containing the user's details, should be pre-filled on first load
    - validNameRegex: The valid name pattern (Any language's alphabet, with spaces and hyphens. Otherwise no symbols/numbers)
    - validNameMessage: The message to display if the validNameRegex fails 
*/-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title th:inline="text">Edit User</title>
</head>
<body class="edit-user-background">
    <div th:insert="~{/homeForm.html::navbar(displayTeams=${displayTeams})}"></div>
    <div class="user-form">
        <div class="user-header">
            <h1 th:inline="text">Edit User</h1>
        </div>
        <div class="wrapper">
            <form th:action="@{editUser}" method="post" th:object="${editUserForm}">
                <div class="edit-inputs">
                    <div class="edit-inputs-left">
                        <div class="input-box">
                            <input type="text" class="form-control" id="firstName" th:name="firstName"
                                   data-cy="firstName" autofocus placeholder="" th:pattern="${validNameRegex}" th:field="*{firstName}"
                                   title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                            <label for="address-line-2">First Name</label>
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control"
                                   th:field="*{firstName}" data-cy="firstName" required
                                   autofocus th:pattern="${validNameRegex}" th:title="${validNameMessage}">
                            <label for="firstName">First Name: </label>
                            <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="errorMessage" />
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control"
                                   th:field="*{lastName}" data-cy="lastName" required
                                   autofocus th:pattern="${validNameRegex}" th:title="${validNameMessage}">
                            <label for="lastName">Last Name: </label>
                            <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="errorMessage" />
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control"
                                   th:field="*{email}" data-cy="email" required autofocus>
                            <label for="email">Email
                                <span style="color: darkred">(You will be logged out if you edit your email):</span>
                            </label>
                            <p th:each="err : ${#fields.errors('email')}" th:text="${err}" class="errorMessage" />
                        </div>
                        <div class="input-box">
                            <input type="date" class="form-control"
                                   th:field="*{dateOfBirth}" th:value="*{#dates.formatISO(dateOfBirth)}" data-cy="dateOfBirth" required autofocus>
                            <label for="dateOfBirth">Date of Birth: </label>
                            <p th:each="err : ${#fields.errors('dateOfBirth')}" th:text="${err}" class="errorMessage" />
                        </div>
                    </div>
                    <div class="edit-inputs-right">
                        <div class="input-box">
                            <input type="text" class="form-control" id="address-line-1" th:name="addressLine1"
                                   data-cy="location" th:pattern="${addressRegex}" autofocus placeholder="" autocomplete="off"
                                   title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and/or pound signs. Must start with letter or number">
                            <label for="address-line-1">Address Line 1</label>
                            <div class="autocomplete-container" id="autocomplete-container"></div>
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control" id="address-line-2" th:name="addressLine2"
                                   data-cy="location" autofocus placeholder="" th:pattern="${addressRegex}"
                                   title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, and pound signs. Must start with letter or number">
                            <label for="address-line-2">Address Line 2</label>
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control" id="suburb" th:name="suburb"
                                   data-cy="location" autofocus th:pattern="${countryCitySuburbNameRegex}" placeholder=""
                                   title="May include letters, hyphens, and spaces. Must start with letter">
                            <label for="suburb">Suburb</label>
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control" id="postcode" th:name="postcode"
                                   data-cy="location" autofocus th:pattern="${postcodeRegex}" placeholder=""
                                   title="May include letters, numbers, forward slashes, and hyphens. Must start with letter or number">
                            <label for="postcode">Postcode</label>
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control" id="city" th:name="city"
                                   data-cy="location" required autofocus th:pattern="${countryCitySuburbNameRegex}" placeholder=""
                                   title="May include letters, hyphens, and spaces. Must start with letter">
                            <label for="city">City <span class="required">*</span></label>
                        </div>
                        <div class="input-box">
                            <input type="text" class="form-control" id="country" th:name="country"
                                   data-cy="location" required autofocus th:pattern="${countryCitySuburbNameRegex}" placeholder=""
                                   title="May include letters, hyphens, and spaces. Must start with letter">
                            <label for="country">Country <span class="required">*</span></label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="submit-button">
                    <a th:href="@{home}">
                        <button type="submit">Save</button>
                    </a>
                </div>
                <div class="cancel-link">
                    <a th:href="@{user-info/self}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>
            Image by <a href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a> on Freepik
        </p>
    </footer>
</body>
</html>
