<!--/*
    Edit User Form.

    Attributes:
    - editUserForm: The POJO containing the user's details, should be pre-filled on first load
    - validNameRegex: The valid name pattern (Any language's alphabet, with spaces and hyphens. Otherwise no symbols/numbers)
    - validNameMessage: The message to display if the validNameRegex fails 
*/-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title th:inline="text">Edit User</title>
</head>
<body class="edit-user-background">
    <div th:insert="~{/homeForm.html::navbar(displayTeams=${displayTeams})}"></div>
    <div class="user-form">
        <div class="user-header">
            <h1 th:inline="text">Edit User</h1>
        </div>
        <div class="wrapper">
            <form th:action="@{editUser}" method="post" th:object="${editUserForm}">
                <div class="input-box">
                    <input type="text" class="form-control"
                           th:field="*{firstName}" data-cy="firstName" required
                           autofocus th:pattern="${validNameRegex}" th:title="${validNameMessage}">
                    <label for="firstName">First Name: </label>
                    <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="errorMessage" />
                </div>
                <div class="input-box">
                    <input type="text" class="form-control"
                           th:field="*{lastName}" data-cy="lastName" required
                           autofocus th:pattern="${validNameRegex}" th:title="${validNameMessage}">
                    <label for="lastName">Last Name: </label>
                    <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="errorMessage" />
                </div>
                <div class="input-box">
                    <input type="text" class="form-control"
                           th:field="*{email}" data-cy="email" required
                           autofocus>
                    <label for="email">Email
                        <span style="color: darkred">(You will be logged out if you edit your email):</span>
                    </label>
                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}" class="errorMessage" />
                </div>
                <div class="input-box">
                    <input type="date" class="form-control"
                           th:field="*{dateOfBirth}" th:value="*{#dates.formatISO(dateOfBirth)}" data-cy="dateOfBirth" required autofocus>
                    <label for="dateOfBirth">Date of Birth: </label>
                    <p th:each="err : ${#fields.errors('dateOfBirth')}" th:text="${err}" class="errorMessage" />
                </div>
                <div class="input-box">
                <p th:each="sport: ${favouriteSports}" th:text="${sport}"></p>
                </div>
                <br>
                <div class="submit-button">
                    <a th:href="@{home}">
                        <button type="submit">Save</button>
                    </a>
                </div>
                <div class="cancel-link">
                    <a th:href="@{user-info/self}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>
            Image by <a href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a> on Freepik
        </p>
    </footer>
</body>
</html>
