
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageName}"></title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 6em;
            color: #333;
            margin-top: 50px;
        }
        p {
            font-size: 1.5em;
            color: #777;
            margin-top: 20px;
        }
        a {
            color: #000;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1 th:text="${pageName}"></h1>
<p th:text="${errorMessage}"></p>
<p>Back to the homepage: <a href="/">homepage</a>.</p>
</body>
</html>
