<!--/*
    As a reminder, you have access to the following variables:
    ${timestamp} : Date
    - The current time

    ${path} : String
    - The current URL
      - e.g. "/oijasijf"

    ${error} : String
    - The message associated with the status code
      - e.g. 404 is "Not Found", 500 is "Internal Server Error", etc.

    ${status} : int
    - The HTTP status code
      - e.g. 404, 500...
    
    ${message} : String
    - The message inside the exception that caused this page. Don't let the user see this.
      - e.g. `throw Exception("Served wine instead of beer")` => "Served wine instead of beer"
    
    ${exception} : UNKNOWN
    - No idea what this does, it's always null for me
    
    ${trace} : String (maybe, I'm not sure)
    - The full path trace of this error. Don't let the user see this. 
*/-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${path} - ${error}|"></title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 6em;
            color: #333;
            margin-top: 50px;
        }
        p {
            font-size: 1.5em;
            color: #777;
            margin-top: 20px;
        }
        a {
            color: #000;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h1 th:text="${status}"></h1>
<p th:text="${error}"></p>
<p>Back to the homepage: <a th:href="@{/}">homepage</a>.</p>
</body>
</html>
