<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link th:href="@{/css/view-all.css}" rel="stylesheet" />

    <title>Federation Manager</title>
</head>


<body class="team-form-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="forgotPassword-form">
    <div class="login-header">
    </div>
    <div class="wrapper">
        <div class="team-info">
            <h2 class="reset-password-info" style="text-align: center"> Invitation To Become Federation Manager </h2>
        <br>
            <p style="text-align: center">By accepting this invitation you will gain the ability to create competitions.</p>
        <br>
            <form th:action="@{federationManager}" method="post" name="inviteForm" id="inviteForm">
                <div class="submit-button">
                    <button type="submit" name="decision" value="true">Accept</button>
                </div>
                <div class="submit-button">
                    <button type="submit" name="decision" value="false">Decline</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
</body>

<script>
    async function accept() {
        const form = document.getElementById("inviteForm")
        const decision = document.createElement("decision")
        decision.setAttribute("type", "hidden");
        decision.setAttribute("name", "decision")
        decision.setAttribute("value", "true")
        await form.appendChild(decision)
        form.submit()
    }

    async function decline()
    {
        const form = document.getElementById("inviteForm")
        const decision = document.createElement("decision")
        decision.setAttribute("type", "hidden");
        decision.setAttribute("name", "decision")
        decision.setAttribute("value", "false")
        await form.appendChild(decision)
        form.submit()
    }

</script>

</html>

