<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link th:href="@{/css/password.css}" rel="stylesheet" />
    <link th:href="@{/css/preloader.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help</title>
</head>

<body class="team-form-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="login-form">
    <object th:data="@{/document/Playbook-user-manual.pdf}" type="application/pdf" width="100%" height="100%">
        <p>Unable to display PDF file. <a th:href=@{/document/Playbook-user-manual.pdf}>Download</a> instead.</p>
    </object>
</div>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
</body>

</html>
