<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <!--    <link rel="preload" as="image" th:href="@{../image/landscape.jpg}">-->
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Home</title>
</head>
<body class="home-background">
 <div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>

 <div class="Welcome-header">
     <h1 th:text="Welcome +  ' ' + ${user.firstName} + '!'"></h1>
 </div>


 <div class="homePageWrapper">

     <div class="teamsDiv" style="border-radius: 15px">

         <div style="padding-top: 19px;">
             <h2 style="text-align: center">My Teams</h2>

             </div>

         <div class="last5" style="margin-top: 57px; padding-bottom: 21px;">
             <ul style="overflow: auto;margin-top: -28px; max-height: 425px;" class="last5Ul">
                 <li style="width: unset" th:each="team : ${userTeams}" th:onclick="|window.location.href='@{team-info(teamID=${team.teamId})}'|">
                     <div style="display: flex">

                         <div class="image-styling">
                             <img style="margin-top: 8px; height: 130px; width: 130px;" th:src="@{/team-profile-picture/{id}(id = ${team.getId()})}" width="200" height="200">
                             </br>
                         </div>

                         <div style="margin-left: 15px" class="teamText">


                             <div class="user-label">
                                 <img style="width: 34px; height: 34px" th:src="@{/image/icons/name.svg}"/>
                                 <div>
                                     <h3 class="attribute-type">Name</h3>
                                     <h3 style="margin-top: -10px"  th:text="${team.getName()}"> </h3>
                                 </div>
                             </div>

                             <div class="user-label">
                                 <img style="width: 34px; height: 34px" th:src="@{/image/icons/sports-alt.svg}"/>
                                 <div>
                                     <h3 class="attribute-type">Sport</h3>
                                     <h3 style="margin-top: -10px" th:text="${team.getSport()}"> </h3>
                                 </div>
                             </div>

                        </div>

                     </div>

                 </li>
             </ul>
         </div>

         </div>


     <div class="ActivitiesDiv">

         <div class="last5" style="margin-top: 57px">
             <ul class="last5Ul">
                 <li th:each="act : ${userActivities}" th:onclick="|window.location.href='@{view-activity(activityID=${act.id})}'|">
                     <div>
                         <h3 th:text="${act.activityType.name()}"> </h3>
                         <h3 th:text="${act.team.getName()}"> </h3>

                         <h4 th:with="startDate=${#temporals.format(act.activityStart, 'dd MMM yyyy')},
                               endDate=${#temporals.format(act.activityEnd, 'dd MMM yyyy')}" th:text="${startDate} + ' - ' + ${endDate}" ></h4>
                     </div>

                 </li>
             </ul>
         </div>

     </div>


     <div>
     </div>









     </div>







    <footer>
        <p>
            Image by <a
                href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
            on Freepik
        </p>
    </footer>
</div>
</body>
</html>
