<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invite To Become Federation Manager</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/view-all.css}" rel="stylesheet">
</head>
<body class="view-users-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<form th:action="@{inviteToFederationManager}" method="get">
  <div class="search-bar">
    <input class="search-input" type="text" placeholder="Search name or email" th:name="currentSearch"
           th:value="*{currentSearch}" data-cy="currentSearch" autofocus minlength="3">
    <button class="search-button" type="submit"><img width="40px" th:src="@{image/search.png}"></button>
  </div>
</form>


<div th:if="${listOfUsers.empty}" class="emptySearchResults">
  No users found.
</div>

<div th:unless="${listOfUsers.empty}" class="card-container">
  <div th:each="user : ${listOfUsers}" class="card">
      <form th:action="@{inviteToFederationManager}" method="post">
      <div class="card-wrapper">
        <div class="card-image">
            <img th:src="@{/user-profile-picture/{id}(id = ${user.userId})}"  class="card-img-top"  alt="User image">        </div>
        <div class="card-body">
          <h5 class="card-title">[[|${user.firstName} ${user.lastName}|]]</h5>
            <h6 style="text-align: center" class="card-body" th:text="${user.email}"></h6>
            <input type ="hidden" th:name ="userId" th:value ="${user.userId}">
            <div class="submit-button">
                <button type="submit" >Invite</button>
            </div>
        </div>
      </div>
      </form>
  </div>
</div>



<div th:insert="~{fragments/pagination.html :: pagination(pageName='view-users')}"></div>
<footer>
  <p>
    Image by <a
          href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
    on Freepik
  </p>
</footer>
</body>
</html>