<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <title>Login</title>
</head>

<body class="team-form-background">
  <!-- add navbar-->
  <div th:insert="~{homeForm.html::navbar(displayTeams=${displayTeams})}"></div>
  <div class="login-form">
    <div class="login-header">
      <h1>Login</h1>
    </div>
    <div class="wrapper">
      <form th:action="@{login}" method="post">
        <div class="input-box">
          <input type="email" class="form-control" id="username" placeholder="" th:name="username"
            th:value="*{username}" data-cy="username" required autofocus>
          <label for="username"> Email: </label>
        </div>
        <div class="input-box">
          <input type="password" class="form-control" id="password" placeholder="" th:name="password"
            th:value="*{password}" data-cy="password" required autofocus>
          <label for="password"> Password: </label>
        </div>
        <div class="error-message" th:text="${errorMessage}">
          <h6 th:text="${errorMessage}"></h6>
        </div>
        <br />
        <div class="submit-button">
          <button type="submit" class="registerLoginButton">Login</button>
        </div>
        <div class="cancel-link">
          <a th:href="@{register}">Create Account</a>
        </div>
        <div class="cancel-link">
          <a th:href="@{home}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
