<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/css/password.css}" rel="stylesheet"/>
    <link th:href="@{/css/preloader.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>

<body class="team-form-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="login-form">
    <div th:if="${message != null}"
         th:insert="~{fragments/messageDropDown.html :: messageDropDown(message=${message})}"></div>
    <div class="home-wrapper">
        <div class="wrapper">
            <form th:action="@{login}" method="post">
                <input th:if="${continue}" name="continue" th:value="${continue}" type="hidden">
                <!--                <div class="icon">-->
                <!--                    <a th:href="@{home}">-->
                <!--                        <img id="cancelButton" th:src="@{/image/icons/cross.svg}"/>-->
                <!--                    </a>-->
                <!--                </div>-->
                <h6 class="reset-password-info" th:if="${passwordUpdatedMessage != null}"
                    th:text="${passwordUpdatedMessage}"></h6>
                <h6 class="reset-password-info" th:if="${invalidTokenMessage != null}"
                    th:text="${invalidTokenMessage}"></h6>
                <div class="input-box">
                    <input class="form-control" id="username" placeholder="" th:name="username"
                           th:value="*{username}" data-cy="username" autofocus>
                    <label for="username">Email</label>
                </div>
                <div class="input-box">
                    <input type="password" class="form-control" id="password" placeholder="" th:name="password"
                           th:value="*{password}" data-cy="password" autofocus>
                    <label for="password">Password</label>
                    <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="password"/>
                </div>
                <div id="lost-password" class="cancel-link">
                    <a th:href="@{lost-password}">Lost password?</a>
                </div>
                </br>
                <div class="error-message" th:text="${errorMessage}">
                    <h6 id="loginErrorMessage" class="loginErrorMessage" th:text="${errorMessage}"></h6>
                </div>
                <div class="submit-button">
                    <button type="submit" class="registerLoginButton" id="loginButton">Login</button>
                </div>
                <div class="cancel-link">
                    <p>New Here?</p>
                    <a th:href="@{register}">Create Account</a>
                </div>
            </form>
        </div>
        <div class="wrapper">
            <h2 class ="home-title">Discover new coaching techniques</h2>
            <img class ="home-image" th:src="@{/image/home/coach-tactics.svg}"/>
            <div class="pagination">
                <div class="circle active"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
<!--/* "Reveal Password" code */-->
<script>
    const passwordField = document.getElementById('password');
    const passwordToggle = document.querySelector(".password-toggle");

    passwordToggle.addEventListener('click', function () {
        if (passwordField.type === 'text') {
            passwordField.type = 'password';
            passwordToggle.src = 'image/icons/hide.png';
        } else {
            passwordField.type = 'text';
            passwordToggle.src = 'image/icons/view.png';
        }
    });
    //current index goes from 0 to 2
    const homeTitle = document.querySelector(".home-title");
    const homeImg= document.querySelector(".home-image");
    let currentIndex = 0;
    const circles = document.querySelectorAll(".circle");
    let interval;
    interval=setInterval(switchActiveCircle, 5000);

    function switchPages(){
        if (currentIndex===0){
            homeTitle.innerText="Discover new coaching techniques";
        }
        else if (currentIndex===1){
            homeTitle.innerText="Enjoy seamless team management";
        }
        else{
            homeTitle.innerText="Create dynamic demonstrations for your team";
        }
    }
    circles.forEach((circle, index) => {
        circle.addEventListener("click", () => {
            circles.forEach(c => c.classList.remove("active"));

            circle.classList.add("active");
            currentIndex = index;
            switchPages();
            clearInterval(interval);
            interval = setInterval(switchActiveCircle, 5000);
        });
    });

    function switchActiveCircle() {
        circles.forEach(circle => circle.classList.remove("active"));
        currentIndex = (currentIndex + 1) % circles.length;
        console.log(currentIndex);
        circles[currentIndex].classList.add("active");
        switchPages();
    }


</script>
</body>

</html>
