<!--/* User Registration Page

       */-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/register.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>

<body class="background-image">
<!-- add navbar-->
<header th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></header>
<div class="register-form">
    <div class="register-header">
        <h1>Register</h1>
    </div>
    <div class="wrapper">
        <form th:action="@{register}" method="post" th:object="${registerForm}">
            <div class="icon">
                <a th:href="@{home}">
                    <img th:src="@{/image/icons/cross.svg}"/>
                </a>
            </div>
            <ul class="progressbar">
                <li class="active">Details</li>
                <li id="progressbar-location">Location</li>
            </ul>
            <div class="register-inputs">
                <div class="input-boxes">
                    <div class="input-box">
                        <input type="text" class="form-control" id="first-name" placeholder="" th:field="*{firstName}"
                               data-cy="firstName" required autofocus onkeyup="checkPasswordStrength()">
                        <label for="first-name"> First Name <span class="required">*</span></label>
                    </div>
                    <div class="input-box">
                        <input type="text" class="form-control" id="last-name" placeholder="" th:field="*{lastName}"
                               data-cy="lastName" required autofocus onkeyup="checkPasswordStrength()">
                        <label for="last-name"> Last Name <span class="required">*</span></label>
                    </div>
                </div>
                <div th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="error-message"></div>
                <div class="input-box">
                    <input type="date" class="form-control" id="date-of-birth" placeholder="" th:field="*{dateOfBirth}"
                           data-cy="dateOfBirth" required autofocus>
                    <label for="date-of-birth"> Date of Birth <span class="required">*</span></label>
                </div>
                <div th:each="err : ${#fields.errors('dateOfBirth')}" th:text="${err}" class="error-message"></div>
                <div class="input-box">
                    <input type="email" class="form-control" id="email" placeholder="" th:field="*{email}"
                           data-cy="email" required autofocus onkeyup="checkPasswordStrength()">
                    <label for="email"> Email <span class="required">*</span></label>
                </div>
                <div th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error-message"></div>
                <div class="input-box">
                    <input type="password" class="form-control" id="password" placeholder="" th:field="*{password}"
                           data-cy="password" required autofocus onkeyup="checkPasswordStrength()">
                    <img th:src="@{/image/icons/hide.png}" class="password-toggle"/>
                    <label for="password"> Password <span class="required">*</span></label>
                </div>
                <div class="password-info">
                    <div class="password-strength-meter">
                        <div class="bar"></div>
                    </div>
                    <div class="password-strength-text"></div>
                    <ul class="password-information-text">
                        <li>Password must be at least 8 characters</li>
                        <li>Must contain the following items</li>
                        <ul>
                            <li>Uppercase and lowercase letters</li>
                            <li>Numbers</li>
                            <li>Symbols</li>
                        </ul>
                        <li>Mustn't contain your name or email</li>
                    </ul>
                    <div th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error-message"></div>
                </div>
                <div class="input-box">
                    <input type="password" class="form-control" id="confirm-password" placeholder=""
                           th:field="*{confirmPassword}" data-cy="confirmPassword" required autofocus>
<!--                    <img th:src="@{/image/icons/view.png}" class="password-toggle"/>-->
                    <label for="confirm-password"> Confirm Password <span class="required">*</span></label>

                    <div th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"
                         class="error-message"></div>
                </div>
            </div>
            <div class="register-inputs-location">
                <div class="input-boxes">
                    <div class="input-box">
                        <input type="text" class="form-control" id="address-line-1" th:name="addressLine1"
                               data-cy="location" th:pattern="${addressRegex}" autofocus placeholder=""
                               autocomplete="off"
                               title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, apostrophes and pound signs. Must include at least one letter or number">
                        <label for="address-line-1">Address Line 1</label>
                        <div class="autocomplete-container" id="autocomplete-container"></div>
                    </div>
                    <div class="input-box">
                        <input type="text" class="form-control" id="address-line-2" th:name="addressLine2"
                               data-cy="location" autofocus placeholder="" th:pattern="${addressRegex}"
                               title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, apostrophes and pound signs. Must include at least one letter or number">
                        <label for="address-line-2">Address Line 2</label>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="suburb" th:name="suburb"
                           data-cy="location" autofocus th:pattern="${countryCitySuburbNameRegex}" placeholder=""
                           title="May include letters, hyphens, apostrophes and spaces. Must start with letter">
                    <label for="suburb">Suburb</label>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="postcode" th:name="postcode"
                           data-cy="location" autofocus th:pattern="${postcodeRegex}" placeholder=""
                           title="May include letters, numbers, forward slashes, and hyphens. Must start with letter or number">
                    <label for="postcode">Postcode</label>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="city" th:name="city"
                           data-cy="location" required autofocus th:pattern="${countryCitySuburbNameRegex}"
                           placeholder=""
                           title="May include letters, hyphens, apostrophes and spaces. Must start with letter">
                    <label for="city">City <span class="required">*</span></label>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="country" th:name="country"
                           data-cy="location" required autofocus th:pattern="${countryCitySuburbNameRegex}"
                           placeholder=""
                           title="May include letters, hyphens, apostrophes and spaces. Must start with letter">
                    <label for="country">Country <span class="required">*</span></label>
                </div>
            </div>
            <script type="text/javascript" th:inline="javascript">
                /**
                 ` * The endpoint for the OpenRouteService Geocoding API's autocomplete feature.
                 * @type {string}
                 */
                const PROTOCOL_AND_AUTH = /*[[${protocolAndAuthority}]]*/ "";
                const ENDPOINT = PROTOCOL_AND_AUTH + "/geocode/autocomplete";
            </script>
            <script type="text/javascript" th:src="@{/js/fullLocationAutocomplete.js}"></script>
            <div class="submit-button">
                <button class="previous-button">Previous</button>
                <button class="next-button">Next</button>
            </div>
            <div class="cancel-link">
                <p>Aleady have an account? <a th:href="@{login}">Login</a></p>
            </div>
            <!--            <div class="cancel-link">-->
            <!--                <div class="cancel-link">-->
            <!--                    <a th:href="@{home}">Cancel</a>-->
            <!--                </div>-->
            <!--            </div>-->
        </form>
    </div>
</div>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
</body>
<script>
    const prevButton = document.querySelector('.previous-button');
    const nextButton = document.querySelector('.next-button');
    const registerInputs = document.querySelector('.register-inputs');
    const locationInputs = document.querySelector('.register-inputs-location');
    const progressBarLocation = document.getElementById('progressbar-location');

    nextButton.addEventListener("click", function () {
        //TODO add in check for fields inputted before user can click next
        locationInputs.style.display = 'block';
        registerInputs.style.display = 'none';
        progressBarLocation.classList.add('active');
        prevButton.style.display = 'block';
        nextButton.textContent = 'Register'
        nextButton.type = 'submit'
    });

    prevButton.addEventListener("click", function () {
        locationInputs.style.display = 'none';
        registerInputs.style.display = 'block';
        progressBarLocation.classList.remove('active');
        prevButton.style.display = 'none';
        nextButton.textContent = 'Next';
        nextButton.removeAttribute('type');
    });

    function checkPasswordStrength() {
        const password = document.getElementById("password").value;
        const email = document.getElementById("email").value;
        const firstName = document.getElementById("first-name").value;
        const lastName = document.getElementById("last-name").value;
        const bar = document.querySelector(".password-strength-meter .bar");
        const headerText = document.querySelector(".password-strength-text");
        if (password) {
            let strength = 0;
            if (password.length >= 8) {
                strength++;
            }
            if (/[A-Z]/.test(password)) {
                strength++;
            }
            if (/[a-z]/.test(password)) {
                strength++;
            }
            if (/\d/.test(password)) {
                strength++;
            }
            if (/[^\w\s]/.test(password)) {
                strength++;
            }
            if ((!firstName || !password.includes(firstName)) && (!lastName || !password.includes(lastName)) && (!email || !password.includes(email))) {
                strength++;
            }

            if (strength < 3) {
                bar.classList.remove("medium");
                bar.classList.remove("strong");
                bar.classList.add("weak");
                bar.style.width = "20%";
                headerText.textContent = "Weak";
                headerText.classList.remove("medium");
                headerText.classList.remove("strong");
                headerText.classList.add("weak");
            } else if (strength < 6) {
                bar.classList.remove("strong");
                bar.classList.remove("weak");
                bar.classList.add("medium");
                bar.style.width = "50%";
                headerText.textContent = "Medium";
                headerText.classList.remove("weak");
                headerText.classList.remove("strong");
                headerText.classList.add("medium");
            } else {
                bar.classList.remove("medium");
                bar.classList.remove("weak");
                bar.classList.add("strong");
                bar.style.width = "100%";
                headerText.textContent = "Strong";
                headerText.classList.remove("weak");
                headerText.classList.remove("medium");
                headerText.classList.add("strong");
            }
            // console.log(password)
        }
        const passwordInput = document.getElementById('password');
        const passwordToggle = document.querySelector('.password-toggle');

        passwordToggle.addEventListener('mousedown', function () {
            passwordInput.type = 'text';
            passwordToggle.src='/image/icons/view.png';
        });

        passwordToggle.addEventListener('mouseup', function () {
            passwordInput.type = 'password';
            passwordToggle.src='/image/icons/hide.png';
        });

        passwordToggle.addEventListener('mouseout', function () {
            passwordInput.type = 'password';
            passwordToggle.src='/image/icons/hide.png';
        });
    }

</script>
</html>
