<!--/* User Registration Page
       */-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/register.css}" rel="stylesheet" />
    <link th:href="@{/css/password.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>
<body class="background-image">
<!-- add navbar-->
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="register-form">
    <div class="register-header">
        <h1>Register</h1>
    </div>
    <div class="wrapper">
        <form th:action="@{register}" method="post" th:object="${registerForm}">
            <div class="icon">
                <a th:href="@{home}">
                    <img th:src="@{/image/icons/cross.svg}"/>
                </a>
            </div>
            <ul class="progressbar">
                <li class="active">Details</li>
                <li id="progressbar-location">Location</li>
            </ul>
            <div class="register-inputs">
                <div class="input-boxes">
                    <div class="input-box">
                        <input type="text" class="form-control" id="first-name" placeholder="" th:field="*{firstName}"
                               data-cy="firstName" required autofocus onkeyup="checkPasswordStrength()">
                        <label for="first-name"> First Name <span class="required">*</span></label>
                    </div>
                    <div class="input-box">
                        <input type="text" class="form-control" id="last-name" placeholder="" th:field="*{lastName}"
                               data-cy="lastName" required autofocus onkeyup="checkPasswordStrength()">
                        <label for="last-name"> Last Name <span class="required">*</span></label>
                        <div th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="error-message last-name"></div>
                    </div>
                </div>
                <div th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="error-message first-name"></div>
                <div class="input-box">
                    <input type="date" class="form-control" id="date-of-birth" placeholder="" th:field="*{dateOfBirth}"
                           data-cy="dateOfBirth" required autofocus>
                    <label for="date-of-birth"> Date of Birth <span class="required">*</span></label>
                </div>
                <div th:each="err : ${#fields.errors('dateOfBirth')}" th:text="${err}" class="error-message date-of-birth"></div>
                <div class="input-box">
                    <input type="email" class="form-control" id="email" placeholder="" th:field="*{email}"
                           data-cy="email" required autofocus onkeyup="checkPasswordStrength()">
                    <label for="email"> Email <span class="required">*</span></label>
                </div>
                <div th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error-message email"></div>
                <div class="input-box">
                    <input type="text" class="form-control" id="password" placeholder="" th:field="*{password}"
                           data-cy="password" required autofocus oninput= "checkPasswordStrength(this)">
                    <img th:src="@{/image/icons/hide.png}" class="password-toggle"/>
                    <label for="password"> Password <span class="required">*</span></label>
                </div>
                <div class="password-info">
                    <div class="password-strength-meter">
                        <div class="bar"></div>
                    </div>
<!--                    <div class="password-strength-text"></div>-->
                    <ul class="password-information-text">
                        <li id="password-min-characters"><img th:src="@{/image/icons/password-cross.svg}" /> Password must be at least 8 characters</li>
                        <li class="password-items"> Must contain the following items: </li>
                        <ul>
                            <li id ="password-letter-case"><img th:src="@{/image/icons/password-cross.svg}" /> Uppercase and lowercase letters</li>
                            <li id="password-numbers"><img th:src="@{/image/icons/password-cross.svg}" /> Numbers</li>
                            <li id="password-symbols"><img th:src="@{/image/icons/password-cross.svg}" /> Symbols</li>
                        </ul>
                        <li id="password-user-details"><img th:src="@{/image/icons/password-cross.svg}" /> Mustn't contain your name or email</li>
                    </ul>
                    <div th:if="${#fields.hasErrors('password')}" class="error-message password">
                        <span th:text="${#fields.errors('password').get(#fields.errors('password').size() - 1)}"></span>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="confirm-password" placeholder=""
                           th:field="*{confirmPassword}" data-cy="confirmPassword" required autofocus>
                    <label for="confirm-password"> Confirm Password <span class="required">*</span></label>
                    <div th:if="${#fields.hasErrors('confirmPassword')}" class="error-message confirm-password">
                        <span th:text="${#fields.errors('confirmPassword').get(#fields.errors('confirmPassword').size() - 1)}"></span>
                    </div>
                </div>
            </div>
            <div class="register-inputs-location">
                <div class="input-boxes">
                    <div class="input-box">
                        <input type="text" class="form-control" id="address-line-1" th:name="addressLine1"
                               data-cy="location"autofocus placeholder="" th:field="*{addressLine1}"
                               autocomplete="off"
                               title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, apostrophes and pound signs. Must include at least one letter or number">
                        <label for="address-line-1">Address Line 1</label>
                        <div th:each="err : ${#fields.errors('addressLine1')}" th:text="${err}" class="error-message address-line-1"></div>
                        <div class="autocomplete-container" id="autocomplete-container"></div>
                    </div>
                    <div class="input-box">
                        <input type="text" class="form-control" id="address-line-2" th:name="addressLine2"
                               data-cy="location" autofocus placeholder="" th:field="*{addressLine2}"
                               title="May include letters, numbers, spaces, commas, periods, hyphens, forward slashes, apostrophes and pound signs. Must include at least one letter or number">
                        <label for="address-line-2">Address Line 2</label>
                        <div th:each="err : ${#fields.errors('addressLine2')}" th:text="${err}" class="error-message address-line-2"></div>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="suburb" th:name="suburb"
                           data-cy="location" autofocus
                           placeholder="" th:field="*{suburb}"
                           title="May include letters, hyphens, apostrophes and spaces. Must start with letter">
                    <label for="suburb">Suburb</label>
                    <div th:each="err : ${#fields.errors('suburb')}" th:text="${err}" class="error-message suburb"></div>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="postcode" th:name="postcode"
                           data-cy="location" autofocus
                           placeholder="" th:field="*{postcode}"
                           title="May include letters, numbers, forward slashes, and hyphens. Must start with letter or number">
                    <label for="postcode">Postcode</label>
                    <div th:each="err : ${#fields.errors('postcode')}" th:text="${err}" class="error-message postcode"></div>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="city" th:name="city"
                           data-cy="location" autofocus
                           placeholder="" th:field="*{city}"
                           title="May include letters, hyphens, apostrophes and spaces. Must start with letter">
                    <label for="city">City <span class="required">*</span></label>
                    <div th:each="err : ${#fields.errors('city')}" th:text="${err}" class="error-message city"></div>
                </div>
                <div class="input-box">
                    <input type="text" class="form-control" id="country" th:name="country"
                           data-cy="location" autofocus
                           placeholder="" th:field="*{country}"
                           title="May include letters, hyphens, apostrophes and spaces. Must start with letter">
                    <label for="country">Country <span class="required">*</span></label>
                    <div th:each="err : ${#fields.errors('country')}" th:text="${err}" class="error-message country"></div>
                </div>
            </div>
            <script type="text/javascript" th:inline="javascript">
                /**
                 ` * The endpoint for the OpenRouteService Geocoding API's autocomplete feature.
                 * @type {string}
                 */
                const path = /*[[${path}]]*/ "";
                const ENDPOINT = path + "/geocode/autocomplete";
            </script>
            <script type="text/javascript" th:src="@{/js/fullLocationAutocomplete.js}"> </script>
            <div class="submit-button">
                <button class="previous-button" type="button">Previous</button>
                <button class="next-button" type="button">Next</button>
                <button class="register-button" type="submit" formnovalidate>Register</button>
            </div>
            <div class="cancel-link">
                <p>Aleady have an account? <a th:href="@{login}">Login</a></p>
            </div>
        </form>
    </div>
</div>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
</body>
<script>
    const firstNameError = document.getElementsByClassName("error-message first-name");
    const lastNameError = document.getElementsByClassName("error-message last-name");
    const dateOfBirthError = document.getElementsByClassName("error-message date-of-birth");
    const emailError = document.getElementsByClassName("error-message email");
    const passwordError = document.getElementsByClassName("error-message password");
    const confirmPasswordError = document.getElementsByClassName("error-message confirm-password");
    const addressLine1Error = document.getElementsByClassName("error-message address-line-1");
    const addressLine2Error = document.getElementsByClassName("error-message address-line-2");
    const suburbError = document.getElementsByClassName("error-message suburb");
    const postcodeError = document.getElementsByClassName("error-message postcode");
    const cityError = document.getElementsByClassName("error-message city");
    const countryError = document.getElementsByClassName("error-message country");
    const firstPageErrors = [firstNameError.length,  lastNameError.length,  dateOfBirthError.length,  emailError.length,  passwordError.length,  confirmPasswordError.length];
    const secondPageErrors = [addressLine1Error.length, addressLine2Error.length, suburbError.length, postcodeError.length, cityError.length, countryError.length];
    const firstPageContainsErrors = firstPageErrors.includes(1);
    const secondPageContainsErrors = secondPageErrors.includes(1)


    window.onload = function() {
        if (!firstPageContainsErrors && secondPageContainsErrors) {
            secondPageInitialisation();
        }
    };

    const prevButton = document.querySelector('.previous-button');
    const nextButton = document.querySelector('.next-button');
    const registerButton = document.querySelector('.register-button');
    const registerInputs = document.querySelector('.register-inputs');
    const locationInputs = document.querySelector('.register-inputs-location');
    const progressBarLocation = document.getElementById('progressbar-location');

    nextButton.addEventListener("click", function () {
        secondPageInitialisation();
    });

    prevButton.addEventListener("click", function () {
        firstPageInitialisation();
    });

    function firstPageInitialisation() {
        locationInputs.style.display = 'none';
        registerInputs.style.display = 'block';
        progressBarLocation.classList.remove('active');
        prevButton.style.display = 'none';
        registerButton.style.display = 'none';
        nextButton.style.display = 'block';
    }

    function secondPageInitialisation() {
        locationInputs.style.display = 'block';
        registerInputs.style.display = 'none';
        progressBarLocation.classList.add('active');
        prevButton.style.display = 'block';
        registerButton.style.display = 'block';
        nextButton.style.display = 'none';
    }

    function checkPasswordStrength(elem) {
        const bar = document.querySelector(".password-strength-meter .bar");

        // registration inputs
        const firstName = document.getElementById("first-name").value;
        const lastName = document.getElementById("last-name").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        // password requirements labels
        const minChar= document.getElementById("password-min-characters");
        const hasLetterCase= document.getElementById("password-letter-case");
        const hasNumber= document.getElementById("password-numbers");
        const hasSymbol= document.getElementById("password-symbols");
        const ownDetails= document.getElementById("password-user-details");


        // password requirements icon images
        const minCharImg = minChar.querySelector("img");
        const letterCaseImg = hasLetterCase.querySelector("img");
        const numberImg=hasNumber.querySelector("img");
        const symbolImg= hasSymbol.querySelector("img");
        const detailsImg= ownDetails.querySelector("img");
        if (password) {
            let strength = 0;

            if (password.length >= 8) {
                minChar.style.color="green"
                minCharImg.src = "image/icons/password-tick.svg";
                strength++;
            }
            else{
                minChar.style.color="red"
                minCharImg.src = "image/icons/password-cross.svg";
            }

            if (/[A-Z]/.test(password)) {
                strength++;
            }
            if (/[a-z]/.test(password)) {
                strength++;
            }

            if (/[A-Z]/.test(password) &&/[a-z]/.test(password) ){
                hasLetterCase.style.color="green";
                letterCaseImg.src = "image/icons/password-tick.svg";
            }
            else{
                hasLetterCase.style.color="red";
                letterCaseImg.src = "image/icons/password-cross.svg";
            }
            if (/\d/.test(password)) {
                hasNumber.style.color="green";
                numberImg.src= "image/icons/password-tick.svg";
                strength++;
            }else{
                hasNumber.style.color="red";
                numberImg.src= "image/icons/password-cross.svg";
            }
            if (/[\W_]/.test(password)) {
                hasSymbol.style.color="green"
                symbolImg.src="image/icons/password-tick.svg";
                strength++;
            }else{
                hasSymbol.style.color="red";
                symbolImg.src="image/icons/password-cross.svg";
            }
            if ((!firstName || !password.includes(firstName)) && (!lastName || !password.includes(lastName)) && (!email || !password.includes(email))) {
                ownDetails.style.color="green"
                detailsImg.src= "image/icons/password-tick.svg";
                strength++;
            }else{
                ownDetails.style.color="red"
                detailsImg.src="image/icons/password-cross.svg";
            }

            if (strength < 3) {
                bar.classList.remove("medium");
                bar.classList.remove("strong");
                bar.classList.add("weak");
                bar.style.width = "20%";

            } else if (strength < 6) {
                bar.classList.remove("strong");
                bar.classList.remove("weak");
                bar.classList.add("medium");
                bar.style.width = "50%";

            } else {
                bar.classList.remove("medium");
                bar.classList.remove("weak");
                bar.classList.add("strong");
                bar.style.width = "100%";
            }
        } else {
            bar.classList.remove("medium");
            bar.classList.remove("strong");
            bar.classList.remove("weak");
            bar.style.width = "0%";
            ownDetails.style.color="red"
            detailsImg.src="image/icons/password-cross.svg";

            hasSymbol.style.color="red";
            symbolImg.src="image/icons/password-cross.svg";

            hasLetterCase.style.color="red";
            letterCaseImg.src = "image/icons/password-cross.svg";

            minChar.style.color="red"
            minCharImg.src = "image/icons/password-cross.svg";

            hasNumber.style.color="red";
            numberImg.src= "image/icons/password-cross.svg";
        }
    }

    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const passwordToggle = document.querySelector('.password-toggle');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordToggle.src = 'image/icons/view.png';
        } else {
            passwordInput.type = 'password';
            passwordToggle.src = 'image/icons/hide.png';
        }
    }

    const passwordToggle = document.querySelector('.password-toggle');
    passwordToggle.addEventListener('click', togglePasswordVisibility);

    // This is done so that if errors exist on second page but not first users don't have to re-enter their password
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('confirm-password')

    if (firstPageContainsErrors) {
        passwordInput.setAttribute('th:field', '');
        confirmPasswordInput.setAttribute('th:field', '');
        passwordInput.value=""
        confirmPasswordInput.value=""
    } else {
        checkPasswordStrength();
    }

    passwordInput.type = 'password'
    confirmPasswordInput.type = 'password'



</script>

</html>
