<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link th:href="@{/css/password.css}" rel="stylesheet"/>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <link th:href="@{/css/login.css}" rel="stylesheet" />
  <link th:href="@{/css/view-all.css}" rel="stylesheet" />
  <title>Forgot Password</title>
</head>


<body class="team-form-background">
<!-- add navbar-->
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="forgotPassword-form">
  <div class="login-header">
  </div>
  <div class="wrapper">



    <form id="reset-password-form" th:action="@{reset-password}" method="post" th:object="${resetPasswordForm}">
      <h3 class="reset-password-info" style="text-align: center"> Reset Password </h3>

      <div class="input-box">
        <input type="password" class="form-control" id="password" placeholder="" th:field="*{password}"
               data-cy="password" autofocus>
        <label for="password"> New Password <span class="required">*</span></label>
        <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="oldPassword" />
      </div>
      <div class="password-info">
        <div class="password-strength-meter">
          <div class="bar"></div>
        </div>
        <div class="password-strength-text"></div>
        <ul class="password-information-text">
          <li id="password-min-characters"><img th:src="@{/image/icons/password-cross.svg}" /> Password must be at least 8 characters</li>
          <li class="password-items"> Must contain the following items: </li>
          <ul>
            <li id ="password-letter-case"><img th:src="@{/image/icons/password-cross.svg}" /> Uppercase and lowercase letters</li>
            <li id="password-numbers"><img th:src="@{/image/icons/password-cross.svg}" /> Numbers</li>
            <li id="password-symbols"><img th:src="@{/image/icons/password-cross.svg}" /> Symbols</li>
          </ul>
          <li id="password-user-details"><img th:src="@{/image/icons/password-cross.svg}" /> Mustn't contain your name or email</li>
        </ul>
      </div>

      <div class="input-box">
        <input type="password" class="form-control" id="confirm-password" placeholder=""
               th:field="*{confirmPassword}" data-cy="confirmPassword" autofocus>
        <label for="confirm-password"> Retype Password <span class="required">*</span></label>
        <ul>
          <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="password-error-message" />
        </ul>

      </div>
      <br>

      <div class="password-info">
        <p class="reset-password-info">Password must be at least <strong>8 characters</strong>, contain <strong>upper</strong> and <strong>lower</strong> case letters, <strong>numbers</strong> and <strong>symbols</strong>, and can't contain your <strong>name</strong> or <strong>email</strong></p>
      </div>



      <br />
      <div class="submit-button">
        <button type="submit" formnovalidate>Reset Password</button>

      </div>



    </form>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/passwordStrengthMeter.js}"> </script>
<footer>
  <p>
    Image by <a
          href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
    on Freepik
  </p>
</footer>
</body>
<script>
  const passwordToggle = document.getElementsByClassName('password-toggle');
  for (const button of passwordToggle) {
    const passwordFieldId = button.dataset.pwField;
    const passwordInput = document.getElementById(passwordFieldId);
    button.addEventListener('click', function () {
      if (passwordInput.type === 'text') {
        passwordInput.type = 'password';
        button.src = 'image/icons/hide.png';
      } else {
        passwordInput.type = 'text';
        button.src = 'image/icons/view.png';
      }
    });
  }
</script>
<script type="text/javascript" th:src="@{/js/passwordStrengthMeter.js}"> </script>

</html>
