<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" >
<head>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <title>search teams</title>
</head>
<body>
<div>
  <div th:insert="/demoTemplate.html::navbar(displayTeams=${displayTeams})"></div>

  <form th:action="@{/searchTeams(teamName=${teamName})}" method="get">
  <label for="teamName">Team Name:</label>
  <input type="text" id="teamName" name="teamName" />
  <button type="submit">Search</button>
  </form>
</div>
<div th:if="${not #lists.isEmpty(teams)}">
  <h2>Search Results</h2>
  <table>
    <thread>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Location</th>
      </tr>
    </thread>
    <tbody>
      <tr th:each="team : ${teams}">
        <td th:text="${team.name}"></td>
        <td th:text="${team.sport}"></td>
        <td th:text="${team.location}"></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
