<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <title>Create team form</title>
</head>
<body class="team-form">

<div>
  <div class="create-team">
    <h1>Create Team</h1>
  </div>

  <div class ="wrapper">
    <form th:action="@{team_form}" method="post">
      <div class="input-box">
      <input type="text" class="form-control" id="name"
             th:name="name" th:value="*{name}" data-cy="name" required
             autofocus th:pattern="${allUnicodeRegex}" placeholder="">
        <label for="name"> Name: </label>
      </div>
      <div class="input-box">
      <input type="text" class="form-control" id="sport"
             th:name="sport" th:value="*{sport}" data-cy="sport" required
             autofocus th:pattern="${allUnicodeRegex}" placeholder="">
        <label for="sport"> Sport: </label>
      </div>
      <div class="input-box">
      <input type="text" class="form-control" id="location"
             th:name="location" th:value="*{location}" data-cy="location" required
             autofocus th:pattern="${allUnicodeRegex}" placeholder="">
        <label for="location">Location:</label>
      </div>
      <br/>
      <div class ="submit-button">
        <a th:href="@{demo}">
          <button type="submit">Create</button>
        </a>
      </div>
      <div th:if="${error == true}" class="error-message">An error occurred.</div>
      <div class ="cancel-link">
        <a th:href="@{demo}">Cancel</a>
      </div>

    </form>


  </div>

</div>
</body>
</html>
