<!--/*
    Update Password.

    Attributes:
    - updatePasswordForm: What our <form> data is bound to
    - user: The currently logged in user. Used for password strength testing
*/-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/update-password.css}" rel="stylesheet" />
  <link th:href="@{/css/password.css}" rel="stylesheet" />
  <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:inline="text">Edit User - Update Password</title>

<body class="edit-user-background">
  <div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>


  <div class="user-form">
    <div>
      <div class="user-header">
        <h1 th:inline="text">Update Password</h1>
      </div>
      <div class="wrapper">
        <form th:action="@{update-password}" method="post" th:object="${updatePasswordForm}" id="updatePasswordForm">
          <div class="edit-inputs">
            <!--/* Old Password Field */-->
            <div class="input-box">
              <input type="password" class="form-control" th:field="*{oldPassword}"
              data-cy="oldPassword" autocomplete="current-password" autofocus required>
              <label th:for="oldPassword">Old Password <span class="required">*</span></label>
              <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="oldPassword" />
            </div>
            <div th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}" class="error-message"></div>
            <!--/* New Password Field */-->
            <div class="input-box">
              <input  type="password" class="form-control" th:field="*{newPassword}"
                data-cy="newPassword" required oninput="checkPasswordStrength(this)" autocomplete="new-password">
              <label th:for="newPassword">New Password <span class="required">*</span></label>
              <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="newPassword" />
            </div>
            <div th:each="err : ${#fields.errors('newPassword')}" th:text="${err}" class="error-message"></div>
            <div id ="new-password-error" class ="error-message"></div>
            <div class="password-info">
              <div class="password-strength-meter">
                  <div class="bar"></div>
              </div>
              <div class="password-strength-text"></div>
              <ul class="password-information-text">
                  <li id="password-min-characters"><img th:src="@{/image/icons/password-cross.svg}" /> Password must be at least 8 characters</li>
                  <li class="password-items"> Must contain the following items: </li>
                  <ul>
                      <li id ="password-letter-case"><img th:src="@{/image/icons/password-cross.svg}" /> Uppercase and lowercase letters</li>
                      <li id="password-numbers"><img th:src="@{/image/icons/password-cross.svg}" /> Numbers</li>
                      <li id="password-symbols"><img th:src="@{/image/icons/password-cross.svg}" /> Symbols</li>
                  </ul>
                  <li id="password-user-details"><img th:src="@{/image/icons/password-cross.svg}" /> Mustn't contain your name or email</li>
              </ul>
            </div>
            <!--/* Confirm Password Field */-->
            <div class="input-box">
              <input type="password" class="form-control" th:field="*{confirmPassword}"
                data-cy="confirmPassword"  autocomplete="new-password" required>
              <label th:for="confirmPassword">Retype Password <span class="required">*</span></label>
              <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="confirmPassword" />
            </div>
              <div th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}" class="error-message"></div>
            </div>
            <!--/* Submit Button */-->
            <div class="submit-button">
              <label th:if="${errorMessage}" th:text="${errorMessage}" style="position: fixed;"></label>
                <button type="submit" id="submit" formnovalidate>Save</button>
            </div>
            <!--/* Cancel Button */-->
            <div class="cancel-link">
              <a th:href="@{user-info/self}">Cancel</a>
            </div>
        </form>
      </div>
    </div>
  </div>
  <footer>
      <p>
          Image by <a
              href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
          on Freepik
      </p>
  </footer>
  <script type="text/javascript" th:src="@{/webjars/axios/1.4.0/dist/axios.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/passwordStrengthMeter.js}"> </script>
  <script th:inline="javascript">
    const FIRST_NAME = /*[[ ${#strings.toLowerCase(user.firstName)} ]]*/ "";
    const LAST_NAME = /*[[ ${#strings.toLowerCase(user.lastName)} ]]*/ "";
    const EMAIL = /*[[ ${#strings.toLowerCase(user.email)} ]]*/ "";
    let passwordError = {};
    const errorMessage = document.getElementById("new-password-error");
    const form = document.getElementById("updatePasswordForm");

    form.addEventListener("submit", function(event) {
      if (Object.keys(passwordError).length > 0) {
      if (Object.values(passwordError).some(value => value === false)) {
        event.preventDefault();
        errorMessage.textContent = "Password does not meet the requirements";
      }else{
        errorMessage.textContent = "";
      }
    }});
    /* Reveal Password code */
    const passwordToggle = document.getElementsByClassName('password-toggle');
    for (const button of passwordToggle) {
      const passwordFieldId = button.dataset.pwField;
      const passwordInput = document.getElementById(passwordFieldId);
      button.addEventListener('click', function () {
        if (passwordInput.type === 'text') {
          passwordInput.type = 'password';
          button.src = 'image/icons/hide.png';
        } else {
          passwordInput.type = 'text';
          button.src = 'image/icons/view.png';
        }
      });
    }

  </script>
</body>
</html>