<!--/*
    Update Password.

    Attributes:
    - updatePasswordForm: What our <form> data is bound to
    - user: The currently logged in user. Used for password strength testing
*/-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/update-password.css}" rel="stylesheet" />
  <link th:href="@{/css/password.css}" rel="stylesheet" />
  <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:inline="text">Edit User - Update Password</title>

<body class="edit-user-background">
  <div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>


  <div class="user-form">
    <div>
      <div class="user-header">
        <h1 th:inline="text">Update Password</h1>
      </div>
      <div class="wrapper">
        <form th:action="@{updatePassword}" method="post" th:object="${updatePasswordForm}" id="updatePasswordForm">
          <div class="edit-inputs">
            <!--/* Old Password Field */-->
            <div class="input-box">
              <input type="password" class="form-control" th:field="*{oldPassword}" data-cy="oldPassword" autofocus
                required>
              <label for="oldPassword">Old Password <span class="required">*</span></label>
              <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="oldPassword" />
            </div>
            <div th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}" class="error-message"></div>
            <!--/* New Password Field */-->
            <div class="input-box">
              <input type="password" class="form-control" th:field="*{newPassword}" data-cy="newPassword" required onkeyup="checkPasswordStrength(this)">
              <label for="newPassword">New Password <span class="required">*</span></label>
              <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="newPassword" />
            </div>
            <div th:each="err : ${#fields.errors('newPassword')}" th:text="${err}" class="error-message"></div>
            <div class="password-info">
              <div class="password-strength-meter">
                  <div class="bar"></div>
              </div>
              <div class="password-strength-text"></div>
              <ul class="password-information-text">
                  <li>Password must be at least 8 characters</li>
                  <li>Must contain the following items</li>
                  <ul>
                      <li>Uppercase and lowercase letters</li>
                      <li>Numbers</li>
                      <li>Symbols</li>
                  </ul>
                  <li>Mustn't contain your name or email</li>
              </ul>
            </div>
            <!--/* Confirm Password Field */-->
            <div class="input-box">
              <input type="password" class="form-control" th:field="*{confirmPassword}" data-cy="confirmPassword" required>
              <label for="confirmPassword">Retype Password <span class="required">*</span></label>
              <img th:src="@{/image/icons/hide.png}" class="password-toggle" data-pw-field="confirmPassword" />
            </div>
              <div th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}" class="error-message"></div>
            </div>
            <!--/* Submit Button */-->
            <div class="submit-button">
              <label th:if="${errorMessage}" th:text="${errorMessage}" style="position: fixed;"></label>
              <a th:href="@{home}">
                  <button type="submit" id="submit" formnovalidate>Save</button>
              </a>
            </div>
            <!--/* Cancel Button */-->
            <div class="cancel-link">
              <a th:href="@{user-info/self}">Cancel</a>
            </div>
        </form>
      </div>
    </div>
  </div>
  <footer>
      <p>
          Image by <a
              href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
          on Freepik
      </p>
  </footer>
  <script th:inline="javascript">
    const FIRST_NAME = /*[[ ${#strings.toLowerCase(user.firstName)} ]]*/ "";
    const LAST_NAME = /*[[ ${#strings.toLowerCase(user.lastName)} ]]*/ "";
    const EMAIL = /*[[ ${#strings.toLowerCase(user.email)} ]]*/ "";

    /* Reveal Password code */
    const passwordToggle = document.getElementsByClassName('password-toggle');
    for (const button of passwordToggle) {
      const passwordFieldId = button.dataset.pwField;
      const passwordInput = document.getElementById(passwordFieldId);
      button.addEventListener('click', function () {
        if (passwordInput.type === 'text') {
          passwordInput.type = 'password';
          button.src = 'image/icons/hide.png';
        } else {
          passwordInput.type = 'text';
          button.src = 'image/icons/view.png';
        }
      });
    }

    /* Password Strength code, copied from register.html */
    function checkPasswordStrength(elem) {
      const bar = document.querySelector(".password-strength-meter .bar");
      const headerText = document.querySelector(".password-strength-text");
      const password = document.getElementById(elem.id).value;
      if (password) {
        const lowerPW = password.toLowerCase();
        let strength = 0;
        if (password.length >= 8) {
          strength++;
        }
        if (/[A-Z]/.test(password)) {
          strength++;
        }
        if (/[a-z]/.test(password)) {
          strength++;
        }
        if (/\d/.test(password)) {
          strength++;
        }
        if (/[\W_]/.test(password)) {
          strength++;
        }
        if (!lowerPW.includes(FIRST_NAME) && !lowerPW.includes(LAST_NAME) && !lowerPW.includes(EMAIL)) {
          strength++;
        }

        if (strength < 3) {
          bar.classList.remove("medium");
          bar.classList.remove("strong");
          bar.classList.add("weak");
          bar.style.width = "20%";
          headerText.textContent = "Weak";
          headerText.classList.remove("medium");
          headerText.classList.remove("strong");
          headerText.classList.add("weak");
        } else if (strength < 6) {
          bar.classList.remove("strong");
          bar.classList.remove("weak");
          bar.classList.add("medium");
          bar.style.width = "50%";
          headerText.textContent = "Medium";
          headerText.classList.remove("weak");
          headerText.classList.remove("strong");
          headerText.classList.add("medium");
        } else {
          bar.classList.remove("medium");
          bar.classList.remove("weak");
          bar.classList.add("strong");
          bar.style.width = "100%";
          headerText.textContent = "Strong";
          headerText.classList.remove("weak");
          headerText.classList.remove("medium");
          headerText.classList.add("strong");
        }
      } else {
        bar.classList.remove("medium");
        bar.classList.remove("strong");
        bar.classList.remove("weak");
        bar.style.width = "0%";
        headerText.textContent = "";
        headerText.classList.remove("medium");
        headerText.classList.remove("strong");
        headerText.classList.remove("weak");
      }
    }
  </script>
</body>
</html>