<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
  <link th:href="@{/css/preloader.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/view-all.css}" rel="stylesheet">

  <title>My Stats</title>
</head>

<body class="view-teams-background">
<div>
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
  <div class="statistics-title">
    <h1 th:inline="text">Personal Team Statistics</h1>
  </div>
    <div class="card-container">
        <div th:each="teamStat : ${teamStats}" class="card"
             th:onclick="|window.location.href='@{myActivityStats(teamID=${teamStat.team.teamId})}'|">
        <div class="card-wrapper">
          <div class="card-image">
            <img th:src="@{/team-profile-picture/{id}(id = ${teamStat.team.teamId})}" class="card-img-top" alt="Team image">
          </div>
          <div class="card-body">
            <h5 class="card-title">[[|${teamStat.team.name} |]]</h5>
            <p class="card-text" th:text="|Goals Scored Total: ${teamStat.totalGoalsScored}|"></p>
            <th:block th:with="hours=${teamStat.totalMinutesPlayed / 60},
                             minutes=${teamStat.totalMinutesPlayed % 60}">
              <p class="card-text">
                Total Time Played:
                <br>
                <th:block th:if="${hours != 0}" th:text="|${hours}h |"></th:block>
                <th:block th:text="|${minutes}m |"></th:block>
              </p>
            </th:block>
            <p class="card-text" th:text="|Total Matches Played: ${teamStat.totalMatchesPlayed}|"></p>
            <h5 style="text-align: center">Click to see more</h5>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="submit-footer">
  <div class="submit-button">
    <form>
      <button type="button" class="registerLoginButton" onclick="window.history.go(-1);">Back</button>
    </form>
  </div>
</div>
<footer>
  <p>
    Image by <a
          href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
    on Freepik
  </p>
</footer>
</div>
</body>

</html>
