<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/view-all.css}" rel="stylesheet">

    <link th:href="@{/css/view-all-competitions.css}" rel="stylesheet">
    <title>View All Competitions</title>
</head>


<body class="view-competition-background">
<div th:insert="~{fragments/navBar.html::navbar}"></div>

<div class="navbar-buffer">
    <!-- serves as a buffer between the navbar and the filter dropdowns -->
</div>

<div>
    <form th:action="@{view-all-competitions}">
        <div class="filter-bar">
            <div class="multipleSelection">
                <div th:replace="~{fragments/filterDropdownFragment.html::filterDropdownFragment(${listOfTimes}, 'Filter by time', 'times')}"></div>
            </div>

            <div class ="multipleSelection">
                <div th:replace="~{fragments/filterDropdownFragment.html::filterDropdownFragment(${listOfSports}, 'Filter by sports', 'sports')}"
                     th:if="${not #lists.isEmpty(listOfSports)}"></div>
            </div>

            <button class="apply-filters-button" type="submit">Apply Filters</button>
        </div>
    </form>

    <div class="page-wrapper">
        <form th:action="@{view-competition}" method="get">
        </form>
        <div class="card-wrap">
            <div class="card-item" th:each="competition : ${listOfCompetitions}">
                <div class="card-content"  th:onclick="|window.location.href='@{view-competition(competitionID=${competition.competitionId})}'|">
                    <div class="competition-name" th:text="${competition.name}"></div>
                    <div class="competition-content" th:text="${competition.grade.getDisplayString()}"></div>
                    <div class="competition-content" th:text="${competition.sport}"></div>
                    <div th:unless="${competition.location == null}">
                        <div class="competition-content" th:text="${competition.location.toString()}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:insert="~{fragments/pagination.html :: pagination(pageName='view-all-competitions')}"></div>

<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
</body>
