<!--/* View Users Page
  - Contains the details of a specified user.

  Attributes:
  - thisUser: Optional<User> - The user detail we'll show. If it's empty, they've asked
      for a non-existent 
  */-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <title>View User</title>
</head>

<body>
  <div class="profile-background">
    <div th:insert="~{/homeForm.html::navbar(displayTeams=${displayTeams})}"></div>
    <div class="profile-form">
      <div class="wrapper-profile">
        <p th:if="${thisUser.isEmpty()}">
          <strong>Specified user does not exist</strong>
        </p>
        <div th:if="${thisUser.isPresent()}" th:object="${thisUser.get()}">
          <div class="profile-pic">
            <div class="image-styling">
              <!--/* Currently there's no profile picture code, so let's use the default */-->
              <img class="profilePictureContainer" th:src="@{/image/defaultuser.jpg}" alt="Profile Picture" width="200" height="200">
              <button type="button" class="back-button" id="backButton" onclick="history.back()">Back</button>
            </div>
          </div>
            <div class="team-info">
              <form>
                <h3>User Profile</h3>
                <div class="team-display">
                  <h4 th:text="|Name: *{FirstName} *{LastName}|"></h4>
                </div>
                <br>
                <div class="team-display">
                  <h4 th:text="|Email: *{email}|"></h4>
                </div>
                <br>
                <div class="team-display">
                  <h4 th:text="|Date of Birth: *{#dates.format(dateOfBirth, 'dd-MM-yyyy')}|"></h4>
                </div>
                <br>
                <div class="team-display">
                  <h4 th:text="|Favourite Sports: *{favoriteSports}"></h4>
                </div>
                <div class="edit-button">
                  <a th:href="@{editUser}">
                    <button type="button">Edit Profile</button>
                  </a>
                </div>
              </form>
            </div>
            <br />
        </div>
        <br/>
      </div>
    </div>
  </div>
  
  <script>
    // We don't want the button visible if we just signed up or logged in.
    const illegal_urls = ['/login', '/register'];
    const backButton = document.getElementById('backButton');
    const previousPage = document.referrer;
    if (illegal_urls.every(url => !previousPage.includes(url))) {
      backButton.style.visibility = '';
    } else {
      backButton.remove();
    }
  </script>

</body>

</html>