<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/view-all.css}" rel="stylesheet">

    <link th:href="@{/css/view-all-competitions.css}" rel="stylesheet">
    <title>View All Users</title>
</head>


<body class="view-competition-background">
<div th:insert="~{fragments/navBar.html::navbar}"></div>


<div>
    <div class="page-filter">
        <div class="dropdown">
            <div class="select">
                <span class="selected"> All Competitions</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="active">All Competitions</li>
                <li>Current Competitions</li>
                <li>Past Competitions</li>
            </ul>
        </div>
        <div class ="filter-section">
            <div th:replace="~{fragments/filterDropdownFragment.html::filterDropdownFragment(${listOfCities}, 'Filter by city', 'cities')}"
                 th:if="${not #lists.isEmpty(listOfCities)}"></div>
            <button class="apply-filters-button" type="submit">Apply Filters</button>
        </div>
    </div>


    <div class="page-wrapper">
        <form th:action="@{view-competition}" method="get">
        </form>
        <div class="card-wrap">
            <div class="card-item" th:each="competition : ${listOfCompetitions}">
                "|window.location.href='@{profile(teamID=${team.teamId})}'|"
                <div class="card-content"  th:onclick="|window.location.href='@{view-competition(competitionID=${competition.competitionId})}'|">
                    <div class="competition-name" th:text="${competition.name}"></div>
                    <div class="competition-content" th:text="${competition.grade.getDisplayString()}"></div>
                    <div class="competition-content" th:text="${competition.sport}"></div>
                    <div class="competition-content" th:text="${competition.location.toString()}"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:insert="~{fragments/pagination.html :: pagination(pageName='view-all-competitions')}"></div>
<script>
    const dropdowns = document.querySelectorAll('.dropdown');
    dropdowns.forEach(dropdown => {
        const select = dropdown.querySelector('.select');
        const caret = dropdown.querySelector('.caret');
        const menu = dropdown.querySelector('.menu');
        const options = dropdown.querySelectorAll('.menu li');
        const selected = dropdown.querySelector('.selected');

        select.addEventListener('click', () => {
            caret.classList.toggle('caret-rotate');
            menu.classList.toggle('menu-open');
        });

        options.forEach(option => {
            option.addEventListener('click', () => {
                selected.innerText = option.innerText;
                select.classList.remove('caret-rotate');
                menu.classList.remove('menu-open');
                options.forEach(option => {
                    option.classList.remove('active');
                });
                option.classList.add('active');
            });
        });
    });
</script>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
</body>
