<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <link th:href="@{/css/view-activity.css}" rel="stylesheet">
    <link th:href="@{/css/formation.css}" rel="stylesheet">

    <title>View Activity</title>
</head>
<body class="profile-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="act-container">
    <div class="act-info">
        <div class="act-details">
            <h3 th:if="${activity.team != null}" th:text="${activity.team} + 's'"></h3>

            <h3> Activity Information </h3>
            <h4 th:text="|Type:&nbsp&nbsp ${activity.activityType}|"></h4>
            <h4 th:text="|Location:&nbsp&nbsp ${activity.location}|"></h4>
            <h4 th:text="|Description:&nbsp&nbsp ${activity.description}|"></h4>

            <div class="edit-act-button">
                <a th:if="${(activity.team!=null && (activity.team.isManager(activity.activityOwner) ||
                activity.team.isCoach(activity.activityOwner))) || activity.team==null}" class="edit-button"
                   th:href="@{createActivity(edit=${activity.id})}">
                    <button type="button"><img th:src="@{image/icons/pencil.svg}"> <span>Edit Activity</span></button>
                </a>
            </div>

        </div>
        <div class="nested-grid">
            <div class="act-date-time">
                <div class="start-date-time">
                    <h4> Start </h4>
                    <span class="date"
                          th:with="startDate=${#temporals.format(activity.activityStart, 'dd MMM yyyy')}"
                          th:text="${startDate}">

                    </span>
                    <span class="time" th:with="startTime=${#temporals.format(activity.activityStart, 'hh:mma')}"
                          th:text="${startTime}">

                    </span>

                </div>
                <div class="end-date-time">
                    <h4> End </h4>
                    <span class="date" th:with="endDate=${#temporals.format(activity.activityEnd, 'dd MMM yyyy')}"
                          th:text="${endDate}">

                    </span>

                    <span class="time" th:with="endTime=${#temporals.format(activity.activityEnd, 'hh:mma')}"
                          th:text="${endTime}">

                    </span>

                </div>
            </div>
            <div class="act-score" th:if="${activity.activityType.toString() == 'Game' || activity.activityType.toString() ==
      'Friendly'}">
                <div class ="team-names">
                    <span>Team A</span>
                    <span> vs </span>
                    <span> Team B </span>
                </div>
                <div class="score">
                    <span th:text=" ${activity.activityTeamScore}"></span>
                    <span> : </span>
                    <span th:text=" ${activity.otherTeamScore} "></span>
                </div>
            </div>


        </div>
        <div class="act-facts">
            <h4> Facts </h4>
            <div class="facts-table">
                <ul>
                    <li th:each="fact : ${activityFacts}">
                        <span class="description" th:text="${fact.description}"></span>
                        <span class="time" th:text="${fact.timeOfEvent}"></span>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="act-game-friendly" th:if="${activity.activityType.toString() == 'Game' || activity.activityType.toString() ==
      'Friendly'}">
        <div class="act-lineup">
            <h3> Line Up </h3>
            <div th:insert="~{fragments/formationDisplay.html}"></div>
            <input type="hidden" onload=renderPlayers("4-1-2-2") />
        </div>
        <div class="act-subs" th:if="${activity.activityType.toString() == 'Game' || activity.activityType.toString() ==
      'Friendly'}">
            <h4> Substitutions </h4>
            <div class="subs-table">
                <ul>
                    <li th:each="fact : ${activitySubstitutions}">
                        <span class="sub-pic">
                            <img th:src="*{'data:image/jpeg;base64,'+{displayPicture}}"/>
                        </span>
                        <span class="description"
                              th:text="${fact.playerOn.firstName} + '         ' + ${fact.playerOn.lastName}"></span>

                        <span class="description" th:text="${fact.timeOfEvent}"></span>

                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
<script>
    window.onload = function() {
        renderPlayers("4-1-2-2");
    };
</script>
</div>
</body>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>

</html>