<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>View All Users</title>
</head>

<div th:insert="~{/homeForm.html::navbar(displayTeams=${displayTeams})}"></div>

<body class="view-users-background">
    <div>
        <p>Page #[[${page}]].
            <a th:if="${page > 1}" th:href="@{view-all-users(page=${page-1}, currentSearch=${currentSearch})}">
                <button>Previous</button>
            </a>
            <a th:if="${#lists.size(listOfUsers) == 10}" th:href="@{view-all-users(page=${page+1}, currentSearch=${currentSearch})}">
                <button>Next</button>
            </a>
        </p>
    </div>

    <div>
        <p>
        <form th:action="@{view-all-users}" method="get">
            <input type="text" placeholder="Search name" th:field="*{currentSearch}" data-cy="currentSearch" autofocus minlength="3"><br>
            <input type="checkbox" id="filterByHockey" name="filterByHockey" th:checked="${filterByHockey != null}" th:value="${filterByHockey}"><label for="filterByHockey">DEBUG: Filter By Hockey</label><br>
            <input type="checkbox" id="filterByRugby" name="filterByRugby" th:checked="${filterByRugby != null}" th:value="${filterByRugby}"><label for="filterByRugby">DEBUG: Filter By Rugby</label>
            <button class="search-user-button" type="submit"> Search </button>
        </form>
        <select class="form-control" id="dropDownList" name="teamSelector"
                onchange="if(this.value != '-1') window.location.href = '/view-all-users';">
            <option value="-1" selected>Filter by Sport (DOES NOT WORK)</option>
            <option th:each="sport : ${listOfSports}"
                    th:value="${sport.sportId}"
                    th:text="${sport.name}"
                    th:selected="${sport.sportId.equals(sportID)}"> </option>
        </select>
        </p>
    </div>

    <div th:insert="~{userTable.html :: userTable(${listOfUsers})}"></div>
</body>
