<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <title>Create team form</title>
    </head>
        <body>
            <div>
                <div th:insert="/demoTemplate.html::navbar(displayTeams=${displayTeams})"></div>
                <table id="teamTable">
                <tr>
                    <th>Profile Picture</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Sport</th>
                </tr>
                <tr th:each="team : ${displayTeams}">
                    <td th:text="img"></td>
                    <td th:text="${team.name}"></td>
                    <td th:text="${team.location}"></td>
                    <td th:text="${team.sport}"></td>
                </tr>
                </table>
                <div th:if = "${totalPages > 1}">
                    <div class = "row col-sm-10">
                        <div class = "col-sm-2" ></div>
                        <div class = "col-sm-1" ></div>
                        <div class = "col-sm-1" ></div>
                    </div>
                </div>
                <div class="pagination">
                    <div class="paginationContainer">
                        <div class="totalPages">
                            Total Pages: [[${totalPages}]]
                        </div>
                        <div>
                            <button th:disabled="${currentPage == 1}"
                                    th:onclick= "|window.location.href='/viewTeamsForm?teamID=${teamID}&page=${1}'|"
                                    class="paginationButton">
                                <span>First</span>
                            </button>
                        </div>
                        <div>
                            <button th:disabled="${currentPage == 1}"
                                    th:onclick= "|window.location.href='/viewTeamsForm?teamID=${teamID}&page=${currentPage - 1}'|"
                                    class="paginationButton">
                                <span>< Prev</span>
                            </button>
                        </div>
                        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <div th:if="${i >= currentPage - 1 and i <= currentPage + 1
                                            or currentPage == 1 and i >= currentPage - 1 and i <= currentPage + 2
                                            or currentPage == totalPages and i >= currentPage - 2 and i <= currentPage + 1}">
                                <button th:if="${currentPage == i}" class="paginationActive" th:text="${i}"
                                        th:onclick= "|window.location.href='/viewTeamsForm?teamID=${teamID}&page=${i}'|">
                                </button>
                                <button th:unless="${currentPage == i}" th:text="${i}"
                                        th:onclick="|window.location.href='/viewTeamsForm?teamID=${teamID}&page=${i}'|"
                                        class="paginationButton">
                                </button>
                            </div>
                        </th:block>
                        <div>
                            <button th:disabled="${currentPage == totalPages}"
                                    th:onclick="|window.location.href='/viewTeamsForm?teamID=${teamID}&page=${currentPage + 1}'|"
                                    class="paginationButton">
                                <span>Next ></span>
                            </button>
                        </div>
                        <div>
                            <button th:disabled="${currentPage == totalPages}"
                                    th:onclick= "|window.location.href='/viewTeamsForm?teamID=${teamID}&page=${totalPages}'|"
                                    class="paginationButton">
                                <span>Last</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </head>
</html>
