<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <link th:href="@{/css/view-activity.css}" rel="stylesheet">
    <link th:href="@{/css/team-profile.css}" rel="stylesheet">
    <link th:href="@{/css/formation.css}" rel="stylesheet">
    <link th:href="@{/css/view-all.css}" rel="stylesheet">
    <link th:href="@{/css/create-activity.css}" rel="stylesheet"/>

    <title>View Activity</title>
</head>
<body class="profile-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>


<div class="team-profile-form">

    <span id="stayOnTab_Name" style="display: none;" th:text="${stayOnTab_name}"></span>
    <span id="stayOnTab_index" style="display: none;" th:text="${stayOnTab_index}"></span>

    <div class="wrapper-profile" id="wrapper-profile">
        <div class="tab-box">
            <div class="tab active" id="generalTab">
                <img class="tab-icon" th:src="@{/image/icons/activity.png}"/>
                <button class="tab-button"> General &nbsp;</button>
            </div>
            <div class="tab" id="factsTab" >
                <img class ="tab-icon" th:src="@{/image/icons/editform.svg}" />
                <button class="tab-button" > Facts &nbsp;</button>
                <div class="tab-line"></div>
            </div>
            <div class="tab" id="formations-tab" th:if="${canShowScores}">
                <img class="tab-icon" th:src="@{/image/icons/formation.svg}"/>
                <button class="tab-button"> Formations &nbsp;</button>
            </div>
            <div class="tab" id="score-tab" th:if="${canShowScores}">
                <img class="tab-icon" th:src="@{/image/icons/score.svg}"/>
                <button class="tab-button"> Score &nbsp;</button>
            </div>
        </div>

        <div class="content-box active" id="general-tab">
            <div class="content general">
                <div class="general-activity-header" style="font-size: x-large; text-align: center; padding: 20px">
                    <h2 th:text="|${activity.activityType.name()}: ${activityStartTitle}|"></h2>
                </div>
                <div class="general-activity-body" style="text-align: center">
                    <div style="width: 100%; display: inline-block">
                        <div class="general-activity-left"
                             style="width: 46%; float:left; margin-right: 1%; margin-left: 3%; text-align: left">
                            <div>
                                <h3 class="attribute-type">Location</h3>
                                <h3 th:text="*{activity.location}"></h3>
                                <br>
                                <h3 class="attribute-type">Date and Time</h3>
                                <h3 th:text="${activityDateTime}"></h3>
                            </div>
                        </div>
                        <div class="general-activity-right"
                             style="width: 46%; float:left; margin-left: 2%; margin-right:2%;text-align: left">
                            <h3 th:if="${activity.team != null}" class="attribute-type">Team</h3>
                            <h3 th:if="${activity.team != null}" th:text="${activity.team.name}"></h3>
                            <br th:if="${activity.team != null}">
                            <h3 class="attribute-type">Description</h3>
                            <h3 th:text="${activity.description}"></h3>
                        </div>
                        <div style="width: 100%; display: inline-block">
                            <div class="submit-button"
                                 style="width: 25%; min-width: 150px; float: left; padding-top: 25px; padding-bottom: 8px">
                                <a th:if="${activity.team==null || (activity.team.isManager(currentUser.get()) || activity.team.isCoach(currentUser.get()))}"
                                   th:href="@{createActivity(edit=${activity.id})}" type="button">
                                    <button type="submit" id="editActivityBtn">Edit</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box" id="facts-tab" style="margin-bottom: 16px">
            <div class="content" style="height: 400px; overflow: auto;">
                <div class="submit-button" style="padding-top: 10px; padding-bottom: 10px">
                    <button style="width: 50%">Add Fact</button>
                </div>
                <table style="padding: 15px; border-collapse: collapse; border: 2px solid; margin:2%; width:96%">
                    <thead style="background-color: #0b2239">
                    <tr>
                        <th style="width: 30%; background-color: #0b2239"> Time </th>
                        <th style="width: 70%; background-color: #0b2239"> Description </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${factList.isEmpty()}">
                        <td colspan="2"> No Recorded Facts </td>
                    </tr>
                    <tr th:each="fact : ${factList}">
                        <td><span th:text="${fact.timeOfEvent} ?: 'No Time Recorded'">No Time Listed</span></td>
                        <td><span th:text="${fact.description}">Description</span></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="content-box" id="formation-tab">
            <div class="content">
                <div class="formation-outer"
                     th:insert="~{fragments/formationDisplay.html::formationDisplay(true)}"></div>
                <div class="sub-table">
                    <div class="sub-header">
                        <h4 class="sub-title">Substitutions</h4>
                    </div>
                    <div class="sub-list">
                        <ul>
                            <li class="sub-container" th:each="subsitution : ${activitySubstitutions}">
                                <div class="sub-card">
                                    <div class="player-container">
                                        <img class="player-image" th:src="@{/user-profile-picture/{id}(id = ${subsitution.playerOn.userId})}">
                                        <div class="player-in-container">
                                            <span>IN</span>
                                            <span class="player-in"
                                                  th:text="${subsitution.playerOn.firstName + ' ' + subsitution.playerOn.lastName}"></span>
                                        </div>
                                    </div>
                                    <img class="swap-icon" th:src="@{/image/icons/swap.svg}"/>
                                    <div class="player-container">
                                        <img class="player-image" th:src="@{/user-profile-picture/{id}(id = ${subsitution.playerOn.userId})}">
                                        <div class="player-out-container">
                                            <span>OUT</span>
                                            <span class="player-out"
                                                  th:text="${subsitution.playerOff.firstName + ' ' + subsitution.playerOff.lastName}"></span>
                                        </div>
                                    </div>
                                    <div th:if="${subsitution.description != null}"  class="dropdown-container">
                                        <img class="dropdown-icon" th:src="@{/image/icons/dropdown.svg}"
                                             onclick="toggleDropdown(this)"/>
                                    </div>
                                    <div class="time-container">
                                        <h4 th:text="${subsitution.timeOfEvent} + '\''"></h4>
                                    </div>
                                </div>
                                <div class="sub-desc">
                                    <hr>
                                    <p th:text="${subsitution.description}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

        <div class="content-box" id="scores-tab">
            <div class="content">


 <div class="scoreboard">

                <div class="score-display">

                    <div>
                        <h3 style="font-size: 30px" th:text="${activity.team}"></h3>


                    </div>


                    <hr class="scoreboard-divider">
                    <div class="scores-div">
                        <h1 th:if="${activity.activityTeamScore != null && activity.otherTeamScore != null}" class="teamScore" th:text="${activity.activityTeamScore}"></h1>
                        <h1 th:if="${activity.activityTeamScore != null && activity.otherTeamScore != null}" class="otherTeamScore" th:text="${activity.otherTeamScore}"></h1>
                    </div>
                    <div>
                        <h3 style="font-size: 30px">Opponent</h3>
                    </div>
                </div>

     <h3 class="winner-text" id="winnerText" th:text="${outcomeString}" ></h3>

     <div class="score-form-button-div">

         <div class="overallScoreButtonDiv">
             <div th:if="${(activity.team.isManager(currentUser.get()) || activity.team.isCoach(currentUser.get()))}" class="submit-button">
                 <button th:unless="${noFacts}" onclick="overallScoreModal.style.display = 'block'" type="button">Add Overall Score</button>
             </div>
         </div>

         <div class="goalScoreButtonDiv">
             <div th:if="${(activity.team.isManager(currentUser.get()) || activity.team.isCoach(currentUser.get()))}" class="submit-button">
                 <button th:unless="${noFacts}" onclick="addGoalModal.style.display = 'block'" type="button">Add Goal</button>
             </div>
         </div>

         </div>

     <div id="addOverallScoreModal" class="modal" th:style="${scoreInvalid != null ? 'display:block' : 'display:none'}">

         <div class="overall-score-modal-content event" style="bottom: unset">
             <span class="close" onclick="overallScoreModal.style.display = 'none'">&times;</span>
             <form style="height: unset" th:action="@{overall-score}" id="createEventForm" method="post" th:object="${createEventForm}" class="view-activity-form">
                 <input type="hidden" th:name="actId" th:value="${activity.getId()}"/>
                 <h3 style="text-align: center">Add Overall Score</h3>

                 <div class="overall-scores-box">

                     <div class="opponentScoreDiv" style="float: left;">
                         <label class="teamScoreLabel" style="display:block; color: #919191;" for="overall-score-team">Team</label>
                         <input class="overall-score-input" name="overallScoreTeam" id="overall-score-team" type="text-area" th:field="*{overallScoreTeam}" th:value="${overallScoreTeamSaved}" data-cy="overallScoreTeam">

                     </div>

                     <div class="opponentScoreDiv" style="float:right">
                         <label style="color: #919191; display:block; margin-left: 36%" for="overall-score-opponent">Opponent</label>
                         <input style="float: right" class="overall-score-input" name="overallScoreOpponent" id="overall-score-opponent" type="text-area" th:field="*{overallScoreOpponent}" th:value="${overallScoreOpponentSaved}" data-cy="overallScoreOpponent">

                     </div>
                 </div>
                 <div th:each="err : ${#fields.errors('overallScoreTeam')}" th:text="${err}" style="display: unset" class="error-message"></div>


                 <label style="padding-top: 10px;" class="helpText"> Scores for both teams should be of the same format i.e either 12-4 and 9-3 or 23 and 18 </label>


                 <div style="padding-bottom: 11px; padding-top: 11px;" class="submit-button">
                     <button style="width: 30%" id="createEvent" type="submit"> Add </button>
                 </div>


             </form>
         </div>

     </div>





     <div id="addGoalModal" class="modal" th:style="${goalInvalid != null ? 'display:block' : 'display:none'}">

         <div class="add-goal-modal-content event" style="bottom: unset">
             <span class="close" onclick="addGoalModal.style.display = 'none'">&times;</span>
             <form style="height: unset" th:action="@{add-goal}" id="goalForm" method="post" th:object="${createEventForm}" class="view-activity-form">
                 <input type="hidden" th:name="actId" th:value="${activity.getId()}"/>
                 <h3>Add Goal</h3>


                 <div class="select-container">
                     <label class="goal-form-labels" for="scorer" style="display: block">Scorer <span class="required">*</span> </label>
                     <div class="select-box">
                         <select id="scorer" name="scorer">
                             <option th:each="player : ${playersInTeam}"
                                     th:value="${player.userId}"
                                     th:text="${player.firstName + ' ' + player.lastName}"></option>
                         </select>

                         <ul>
                             <li style="display: unset" th:each="err : ${#fields.errors('scorer')}" th:text="${err}" class="error-message" />
                         </ul>
                     </div>
                 </div>

                 <div class="description-box">
                     <label class="goal-form-labels" for="description">Description</label>
                     <textarea class="description-text" id="description" th:name="description" autofocus placeholder=""
                               th:field="*{description}"></textarea>
                 </div>

            <div class="time-goal-value-div">
                 <div style="margin-bottom: -10px" class="goalTime-input-div">
                     <label class="goal-form-labels" for="time-of-goal">Time of Goal (minutes)<span class="required">*</span></label>

                     <div class="number-spinner">
                         <button style="margin-right: 5px;" class="decreaseTime">-</button>
                         <input type="number" class="valueInputTime" value="1" min="1" id="time-of-goal" name="timeOfGoal" th:field="*{time}">
                         <button style="margin-left: 5px;" class="increaseTime">+</button>
                     </div>


                </div>
                 <div style="display: unset" th:each="err : ${#fields.errors('time')}" th:text="${err}" class="error-message"></div>

                 <div class="goal-input-div">
                     <label class="goal-form-labels" for="goal-value">Goal Value</label>

                     <div class="number-spinner">
                         <button style="margin-right: 5px;" class="decreaseGoal">-</button>
                         <input type="number" class="valueInputGoal" value="1" min="1" id="goal-value" name="goalValue">
                         <button style="margin-left: 5px;" class="increaseGoal">+</button>
                     </div>

                 </div>

            </div>

                 <div style="padding-bottom: 11px; padding-top: 11px;" class="submit-button">
                     <button style="width: 30%" id="createGoal" type="submit"> Add </button>
                 </div>


             </form>
         </div>

     </div>










 </div>


                <div class="goal-table" style="margin-left: 4%">
                    <div class="goal-header">
                        <h4 class="goal-title">Scoring</h4>
                    </div>
                    <div class="goals-list">
                        <ul>
                            <li th:each="goal : ${activityGoals}">
                                <button class="collapsible" >
                                    <img th:src="@{/user-profile-picture/{id}(id = ${goal.scorer.userId})}"  class="scorer-player-image"  alt="Player Image">
                                    <h3 th:text="${goal.scorer.firstName + ' ' + goal.scorer.lastName}"> </h3>
                                    <h4 class="goal-text" th:text="${goal.goalValue == 1 ? goal.goalValue + ' pt' : goal.goalValue + ' pts'}"></h4>

                                    <div class="timeDiv">
                                        <h4 style="margin-top: 1px;" th:text="${goal.timeOfEvent} + '\''"></h4>
                                    </div>

                                </button>

                                <div class="goal-description">
                                    <hr class="solid">
                                    <p th:text="${goal.description}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
</div>

        </div>

    </div>


    <script>

      /*  const decreaseButtonGoal = document.querySelector('.decrease');
        const increaseButtonGoal = document.querySelector('.increase');
        const valueInputGoal = document.querySelector('.valueInput');

        decreaseButtonGoal.addEventListener('click', () => {
            event.preventDefault();
            const currentValue = parseInt(valueInputGoal.value, 10);
            if (currentValue > 1) {
                valueInputGoal.value = currentValue - 1;
            }
        });

        increaseButtonGoal.addEventListener('click', () => {
            event.preventDefault();
            valueInputGoal.value = parseInt(valueInputGoal.value, 10) + 1;
        });


        const decreaseButtonTime = document.querySelector('.decreaseTime');
        const increaseButtonTime = document.querySelector('.increaseTime');
        const valueInputTime = document.querySelector('.valueInputTime');

        if (valueInputTime.value === "") {
            valueInputTime.value = 1;
        }

        decreaseButtonTime.addEventListener('click', () => {
            event.preventDefault();
            const currentValue = parseInt(valueInputTime.value, 10);
            if (currentValue > 1) {
                valueInputTime.value = currentValue - 1;
            }
        });

        increaseButtonTime.addEventListener('click', () => {
            event.preventDefault();
            valueInputTime.value = parseInt(valueInputTime.value, 10) + 1;
        });
*/


        function setUpSteppers(decreaseButton, increaseButton, valueInput) {
            decreaseButton.addEventListener('click', (event) => {
                event.preventDefault();
                const currentValue = parseInt(valueInput.value, 10);
                if (currentValue > 1) {
                    valueInput.value = currentValue - 1;
                }
            });

            increaseButton.addEventListener('click', (event) => {
                event.preventDefault();
                valueInput.value = parseInt(valueInput.value, 10) + 1;
            });
        }


      const decreaseButtonGoal = document.querySelector('.decreaseGoal');
      const increaseButtonGoal = document.querySelector('.increaseGoal');
      const valueInputGoal = document.querySelector('.valueInputGoal');
      setUpSteppers(decreaseButtonGoal, increaseButtonGoal, valueInputGoal);

      const decreaseButtonTime = document.querySelector('.decreaseTime');
      const increaseButtonTime = document.querySelector('.increaseTime');
      const valueInputTime = document.querySelector('.valueInputTime');

      if (valueInputTime.value === "") {
          valueInputTime.value = 1;
      }

      setUpSteppers(decreaseButtonTime, increaseButtonTime, valueInputTime);


        var addGoalModal = document.getElementById("addGoalModal");
        var overallScoreModal = document.getElementById("addOverallScoreModal");

        window.onclick = function(event) {
            if (event.target === overallScoreModal) {
                overallScoreModal.style.display = "none";
            }
            if (event.target === addGoalModal) {
                addGoalModal.style.display = "none";
            }
        }

        function toggleDropdown(icon) {
            const subCard = icon.closest('.sub-card');
            const subDesc = subCard.nextElementSibling;
            const subLi = subCard.parentElement;
            console.log(subLi.className);
            console.log(subDesc.style.display)
            if (subDesc.style.display === 'none' || subDesc.style.display === '') {
                icon.style.transform = 'rotate(180deg)';
                subDesc.style.display = 'block';
                subLi.style.border = '2px solid rgb(119, 141, 169)';
                subLi.style.borderRadius = '10px';
                subLi.style.height = 'fit-content';
                subCard.style.border = 'none';
            } else {
                icon.style.transform = 'rotate(0deg)';
                subDesc.style.display = 'none';
                subLi.style.border = 'none';
                subCard.style.border = '2px solid rgb(119, 141, 169)';
                subLi.style.height = 'none';
            }
        }

        var collapsible = document.getElementsByClassName("collapsible");
        var i;


        for (i = 0; i < collapsible.length; i++) {
            collapsible[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                    content.style.border = "none";
                    this.style.borderRadius = "10px 10px 10px 10px";
                    this.style.borderBottom = "2px solid #778da9"


                } else {
                    content.style.maxHeight = content.scrollHeight + 5 + "px";
                    content.style.border = "2px #778da9"
                    content.style.borderStyle = "none solid solid solid"
                    this.style.borderRadius = "10px 10px 0 0";
                    this.style.borderBottom = "none";
                }
            });
        }



        //tab functionality
        const tabs = document.querySelectorAll('.tab');
        const tabLine = document.querySelector('.tab-line');
        const displayBox = document.querySelectorAll('.content-box');
        const displayContent = document.querySelectorAll('.content');


        //functionality staying on tab after form submission
        var stayOnTab_Name =  document.getElementById("stayOnTab_Name").innerHTML;
        var stayOnTab_Index =  document.getElementById("stayOnTab_index").innerHTML;

        console.log("tabname" + stayOnTab_Name);
        console.log("tabindex" + stayOnTab_Index);

        if (stayOnTab_Name === "score-tab" || stayOnTab_Name === "generalTab" || stayOnTab_Name === "formations-tab" || stayOnTab_Name === "factsTab") {
            var tabToBeActive = document.getElementById(stayOnTab_Name)

            console.log(tabToBeActive)
            console.log(stayOnTab_Name)
            tabs.forEach(otherTab => {
                otherTab.classList.remove('active');
            });
            tabToBeActive.classList.add('active')

            displayBox.forEach(box => {
                box.classList.remove('active')
            });
            displayBox[stayOnTab_Index].classList.add('active');
            displayContent.forEach(content => {
                content.classList.remove('active')
            });
            displayContent[stayOnTab_Index].classList.add('active');

        }




        //functionality for clicking on tabs
        tabs.forEach((tab, index) => {
            tab.addEventListener('click', (e) => {
                tabs.forEach(otherTab => {
                    otherTab.classList.remove('active');
                });
                tab.classList.add('active');
                if (index === 0) {
                    tabLine.style.left = "18px";
                } else if (index === 1) {
                    tabLine.style.left = "247px";
                } else if (index === 2) {
                    tabLine.style.left = "460px";
                } else {
                    tabLine.style.left = "685px";
                }
                displayBox.forEach(box => {
                    box.classList.remove('active')
                });
                displayBox[index].classList.add('active');
                displayContent.forEach(content => {
                    content.classList.remove('active')
                });
                displayContent[index].classList.add('active');
            });
        });
    </script>
</div>
</body>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>

</html>

