<!--/* View Users Page
  - Contains the details of a specified user.

  Attributes:
  - thisUser: Optional<User> - The user detail we'll show. If it's empty, they've asked
      for a non-existent
  */-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View User</title>
</head>
<body class="profile-background">
<header th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></header>
    <div class="profile-form">
        <div class="wrapper-profile">
            <p th:if="${thisUser.isEmpty()}">
              <strong>Specified user does not exist</strong>
            </p>
            <div class="profile-pic">
                <form id="upload-picture" method="post" th:action="@{/user-info/upload-pfp(userId=${userId})}" enctype="multipart/form-data">
                    <div class="image-styling">
                        <img th:src="*{'data:image/jpeg;base64,'+{displayPicture}}" width="200" height="200"/>
                        </br>
                    </div>
                    </br>
                    <div th:if="${canEdit}">
                        <div class="file-upload">
                            <div class="file-label-border">
                                <label for="file" class="file-label">
                                    Edit Profile Picture </label>
                            </div>
                            <input type="file" name="file" class="form-control-file" id="file" onchange="form.submit()">
                        </div>
                        <div class="file-upload">
                            <div class="error-message" th:if="${sizeError == true}">Image must be less than 10MB</div>
                            <div class="error-message" th:if="${typeError == true}">Please choose a .png, .jpg or .svg file
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="team-info">
                <div class="team-display">
                    <h2>User Profile</h2>
                    <h3 th:text="|Name: *{firstName} *{lastName}|"></h3>
                    <h3 th:text="|Email: *{email}|"></h3>
                    <h3 th:text="|Date of Birth: *{#dates.format(dateOfBirth, 'dd-MM-yyyy')}|"></h3>
                    <h3 th:text="|Location: *{location}|"></h3>
                    <h3>Favourite Sports:</h3>
                    <div class="sport-box" id="sport-box">
                        <li th:each="sport : ${favSportNames}" th:text="${sport}"></li>
                    </div>
                </div>
            </div>
            <div class="profile-buttons">
                <button type="button" class="back-button" onclick="window.history.go(-1);">Back</button>
                <div th:if="${canEdit}" class="edit-button">
                      <a th:href="@{editUser}">
                          <button type="button">Edit Profile</button>
                      </a>
                </div>
            </div>
        </div>
    </div>
<footer>
    <p>
        Image by <a
            href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
        on Freepik
    </p>
</footer>
  <script th:inline="javascript">
    // The AC only specifies a back button if we came from the view-users page.
    const legal_url = '/view-users';
    const backButton = document.getElementById('backButton');
    if (backButton !== null) {
        const previousPage = document.referrer;
        if (previousPage.includes(legal_url)) {
            backButton.style.visibility = '';
        } else {
            backButton.remove();
        }
    }
  </script>

</body>

</html>