<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/view-all.css}" rel="stylesheet">
    <title>View All Users</title>
</head>

<body class="view-teams-background">
    <!--/* Nav-bar */-->
    <div th:insert="~{fragments/navBar.html::navbar(navTeams=${navTeams})}"></div>
    <!--/* Search Field */-->
    <form id="search-form" th:action="@{view-teams}" method="get">
        <div class="search-bar">
            <input class ="search-input" type="text" name ="teamName" id="teamName" th:value="${currentSearch}" placeholder="Search Teams" />
                <button class="search-team-button" type="submit"><img width="40px" th:src="@{image/search.png}"></button>
        </div>
        <div style="display: flex; flex-direction: column;">
            <div class="filter-bar">
                <div th:replace="~{/fragments/filterDropdownFragment.html::filterDropdownFragment(${cities}, 'Filter by city', 'city')}"></div>
                <div th:replace="~{/fragments/filterDropdownFragment.html::filterDropdownFragment(${sports}, 'Filter by sport', 'sport')}"></div>
            </div>
            <button class="apply-filters-button" type="submit">Apply Filters</button>
        </div>
    </form>
    <!--/* The table of teams */-->
    <div class="card-container">
        <div th:each="team : ${listOfTeams}" class="card"
             th:onclick="|window.location.href='@{profile(teamID=${team.teamId})}'|">
            <div class="card-wrapper">
                <div class="card-image">
                    <img th:src="${'data:image/jpeg;base64,' + team.pictureString}" class="card-img-top" alt="Team image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">[[|${user.firstName} ${user.lastName}|]]</h5>
                    <p class="card-text" th:text="'Location: ' + ${team.location.country} + ', ' + ${team.location.city}">Location</p>
                </div>
            </div>
        </div>

        <table>
            <tr th:if="${listOfTeams.empty}">
                <td colspan="2"> No teams! </td>
            </tr>

        </table>
    </div>
    <div th:insert="~{fragments/pagination.html :: pagination(pageName='view-teams')}"></div>
    <footer>
        <p>
            Image by <a href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a> on Freepik
        </p>
    </footer>
    <script>
        // get search form and input element
        const form = document.getElementById('search-form');
        const input = document.getElementById('teamName');


        form.addEventListener('submit', (event) => {
            // if the value isn't empty and is less than 3 characters, prevent form from submitting
            // (We allow an empty search field)
            if (input.value.length !== 0 && input.value.length < 3) {
                event.preventDefault();

                // Remove existing error message
                const existingErrorMessage = document.getElementById('search-error');
                if (existingErrorMessage) {
                    existingErrorMessage.remove();
                }
                // Display error message
                const errorMessage = document.createElement('p');
                errorMessage.setAttribute('id', 'search-error');
                errorMessage.textContent = "search must be at least 3 characters";
                form.appendChild(errorMessage);
            }
        });
    </script>
</body>
