<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link th:href="@{/css/competition-profile.css}" rel="stylesheet">
  <link th:href="@{/css/user-profile.css}" rel="stylesheet">
  <link th:href="@{/css/view-competition.css}" rel="stylesheet">

  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" as="image" th:href="@{/image/landscape.jpeg}">
  <title>View Competition</title>
</head>
<body class="profile-background">
<div th:insert="~{fragments/navBar.html::navbar(displayTeams=${displayTeams})}"></div>
<div class="profile-form">
  <div class="wrapper-profile">

    <div class="team-info">
      <div class="team-display" th:object="${competition}">
        <h2>Competition Details</h2>

        <div class="comp-headings">
          <img alt="" th:src="@{/image/icons/name.svg}"/>

          <div>
            <h4>Name</h4>
            <h3 th:text="*{name}">NAME_HERE</h3>
          </div>
        </div>

        <div class="comp-headings">
          <img alt="" th:src="@{/image/icons/sports.svg}"/>

          <div>
            <h4>Sport</h4>
            <h3 th:text="*{sport}">SPORT_HERE</h3>
          </div>
        </div>

        <div class="comp-headings">
          <img alt="" th:src="@{/image/icons/gradeLevel.svg}"/>

          <div>
            <h4>Grade</h4>
            <h3 th:text="*{grade.displayString}">GRADE_HERE</h3>
          </div>
        </div>
        
        <div class="comp-headings" th:if="*{location != null}">
          <img alt="" th:src="@{/image/icons/location.svg}"/>
          <div>
            <h4>Location</h4>
            <h3 th:text="*{location}">LOCATION_HERE</h3>
          </div>
        </div>

      </div>
    </div>

    <!--/* Only shown during Team Competitions
          The controller will set either a "teams" or "players"
          value depending on the type. */-->
    <div class="teamOrUserListDisplay"
      th:if="${teams != null}">
      
      <h3>Teams</h3>
      <ul>
        <li class="li-player-image" th:each="team : ${teams}">
          <img th:src="@{/team-profile-picture/{id}(id = ${team.id})}" class="card-img-top" alt="Team image">
          <span th:text="${team.name}">TEAM_NAME</span>
        </li>
      </ul>
    </div>

    <!--/* Only shown during Player Competitions */-->
    <div class="teamOrUserListDisplay"
      th:if="${players != null}">
    
      <h3>Players</h3>
      <ul>
        <li class="li-player-image" th:each="player : ${competition.players}">
          <img th:src="@{/user-profile-picture/{id}(id = ${player.id})}" class="card-img-top" alt="Player image">
          <span th:text="|${player.firstName} ${player.lastName}|">PLAYER_NAME</span>
        </li>
      </ul>
    </div>

    <div class="profile-buttons">
      <button type="button" class="back-button" onclick="window.history.go(-1);">Back</button>
      <div sec:authorize="hasAnyRole('ROLE_FEDERATION_MANAGER')" class="edit-button" style="float: right; padding: 10px">
        <a th:href="@{/create-competition(edit=${competition.competitionId})}">
          <button type="button">Edit Competition</button>
        </a>
      </div>
    </div>


  </div>
</div>
</div>
</div>

<footer>
  <p>
    Image by <a
          href="https://www.freepik.com/free-vector/flat-happy-children-play-run-cycling-public-park_27059506.htm#query=nature%20sports%20illustration&position=0&from_view=search&track=ais">redgreystock</a>
    on Freepik
  </p>
</footer>


</body>

</html>